[2014-09-16 11:25] rjeczalik opened #1 "Refactor demux -> dispatch"

[2014-09-16 11:25] rjeczalik opened #2 "Fix OS X build"

[2014-09-16 11:26] rjeczalik opened #3 "Add watcher implementation backed by fsnotify"
- generic tests for watcher_test and notify_test

[2014-09-16 11:26] rjeczalik opened #4 "Move dispatch / watcher to internal packages?"
[code]

[2014-09-16 11:27] rjeczalik opened #5 "Add tree implementation for non-recursive watchers (inotify, kqueue)"

[2014-09-16 11:27] rjeczalik opened #6 "Add tree implementation for recursive watchers (FSEvents, ReadDirectoryChangesW)"
The watcher should implement `RecursiveWatcher`.

[2014-09-16 11:28] rjeczalik opened #7 "Document for dispatch magic"
[code]

[2014-09-16 11:29] rjeczalik opened #8 "Control watcher default implementation by build tags?"
[code]

[2014-09-16 11:33] rjeczalik opened #9 "Add watcher implementation for FSEvents"
[code]

[2014-09-16 11:34] rjeczalik opened #10 "Add watcher implementation for ReadDirectoryChangesW"

[2014-09-16 11:36] rjeczalik opened #11 "Add watcher implementation for inotify"
[code]

[2014-09-16 11:37] rjeczalik opened #12 "Add watcher implementation for kqueue"
[code]

[2014-09-16 11:41] rjeczalik opened #13 "Source inline documentation"
[code]

[2014-09-16 19:56] #1 closed, assigned to rjeczalik

[2014-09-17 16:42] #2 closed, assigned to rjeczalik

[2014-09-19 15:01] rjeczalik opened #14 "HELP THE RECURSIVE EVENT DO NOT BE AN EVENT!"
Currently in order to hint the `notify` it should watch recursively one need to append `notify.Recursive` event, like:

[code]

And yes, `notify.Recursive` is not an event. So if you think the idea of having it among other events is retarted, we need to pick an alternative, which is to introduce another function:
- add `notify.WatchRecursive`

`notify.WatchRecursive` has the same signature  and wo

[2014-09-19 18:07] #3 closed, assigned to rjeczalik

[2014-09-19 18:20] rjeczalik opened #15 "Workaround fsnotify: treat Remove | Write events as just Remove."
If a channel is registered only for Write events, the Remove events from fsnotify would get erroneously reported to the Write channel.

For OS X it looks like Remove | Write events are yielded for directory deletion and just Remove alone for a file deletion. Still it should be translated to Remove before it hits the Dispatch.

[2014-09-19 18:51] rjeczalik opened #16 "Directory tree delete and non-recursive watchers?"
Removing directories recursively (either by a `rm -r` or `os.RemoveAll`) yields an event for each single item in the subtree.
- does it work the same for recurisve and non-recursive watchers?
- how to handle it? even if from the API viewpoint it would make sense to forward all the events to the user, from the internal implementation (Dispatch and channel tree traversing) it may be sub-optimal - in

[2014-09-20 14:35] #14 closed, assigned to nobody

[2014-09-21 15:01] rjeczalik opened #21 "Add benchmarks"
[code]

[2014-09-21 15:02] #8 closed, assigned to nobody

[2014-09-21 16:00] rjeczalik opened #23 "Rework watcher_test to source events"
When underlying implementation is able to capture more events than test expects, it fails, which is logical. Instead the test should capture all the events, and after the `exec`'s are done it should compare the results.

[code]

[2014-09-21 19:33] #23 closed, assigned to nobody

[2014-09-24 20:27] ppknap opened #25 "Error handling"
1) Close channel and then `notify.Error(ch) error`:

[code]

[edit] The 1 option can look better:

[code]

2) Magic unexported event info + close chan(?):

[code]

then:

[code]

Other ideas?

[2014-09-24 20:55] #25 closed, assigned to nobody

[2014-09-27 14:27] ppknap opened #28 "Goroutine started by Fanin method is not closed between the tests."
https://github.com/ppknap/notify/commit/7a1a22de28f04412a0c5861fd4e2fdb2f8e2094c#diff-07abb55f4598311342408414ce93b6a9R20

[2014-09-27 18:28] #28 closed, assigned to nobody

[2014-09-28 10:00] ppknap opened #31 "Why don't you like this approach?"
Please compile and run:
https://gist.github.com/ppknap/bf8d9ab54b9dc131db45

[code]

Output:

[code]

[2014-09-28 18:15] #31 closed, assigned to nobody

[2014-09-29 19:41] rjeczalik opened #33 "Refactor inotify globals to be a part of struct"
The issue is incomming integration tests would need to instantiate and terminate multiple watcher instances via `NewWatcher`. As long as `inotify` is implemented using single global and single `syscall.InotifyInit` this would break those tests.

There is no guarantee that integration tests for error handling would be capable to do full and proper cleanup of the global `inotify` instance, and it's

[2014-09-30 17:50] rjeczalik opened #34 "Rework runtime init"
The idea is to have two differently initialised runtimes - one for regular package and one for tests. Obviously runtimes must be initialised exclusively. I've misunderstood how `_.go` works, so something else is needed.

An open problem.

[2014-09-30 19:12] rjeczalik opened #35 "Add watcher implementation for polling"
Few unknowns:
- Should the polling interval be configurable? How? One idea is to create `notify/notifyutil` and hook somehow from there into `notify.r` runtime which would allow for controlling it
- Should it be possible to switch implementations of watchers in run-time? E.g. as [a fallback in case of errors](https://github.com/shama/gaze#emfile-errors)?

[2014-10-05 06:03] #33 closed, assigned to nobody

[2014-10-05 06:04] #15 closed, assigned to nobody

[2014-10-05 06:06] #13 closed, assigned to nobody

[2014-10-05 06:06] #7 closed, assigned to rjeczalik

[2014-10-05 06:08] #4 closed, assigned to nobody

[2014-10-05 18:14] #11 closed, assigned to nobody

[2014-10-05 18:19] ppknap opened #38 "Refactor Inotify watcher"
DOD
- It is possible to clean inotify's watcher between tests.
- @rjeczalik is happy xd

[2014-10-16 06:48] rjeczalik opened #40 "notify/test feature requests for testing fixtures"
- allow for specifying move destination path
- ...

[2014-10-19 14:57] rjeczalik opened #41 "Change default Watcher interface?"
The common least denominator for functionality across all `Watcher` implementations is watching a directory, instead of watching a file and/or directory.

(Just to quickly remind: runtime uses platform-specific implementation for managing watch-points. Those implementations have different functionalities on different platforms and in order to reflect that there are couple of "extension" interfaces

[2014-11-20 20:43] rjeczalik opened #48 "doc: various edge-cases worth to be mentioned"
##### use-case: persistant watch-points

User watches a file for write events only, file gets deleted, os watcher gets removed, file eventually get created and then written, user gets the write event buts does not know it's a write on a new file.

##### use-case: filesystem `Delete` event on recursive watchpoint under Windows

If a directory being the root of recurisve watchpoint gets deleted, Win

[2014-11-22 22:40] rjeczalik opened #49 "kqueue: failed to read events: "interrupted system call""
Just FYI @pblaszczyk, probably it's just broken for OS X.

Steps to reproduce (sorry, no test yet).

[code]

Panics with:

[code]

[2014-11-23 13:27] #34 closed, assigned to nobody

[2014-11-23 13:31] #41 closed, assigned to nobody

[2014-11-24 09:04] rjeczalik opened #50 "error handling blueprint"
[code]

[2014-12-13 11:36] #10 closed, assigned to nobody

[2014-12-13 15:50] rjeczalik opened #51 "the Watcher interface behaviour"
Question @pblaszczyk @ppknap how do you see expected Watcher behaviour? TL;DR is should it be forgiving (this is mostly what stdlib does) or strict? Examples:

* should `Watcher.Watch` return error when called with the same path or act as nop?
* should `Watcher.Rewatch` return error when called with mismatched `oldevent` (e.g. https://github.com/rjeczalik/notify/commit/a9499feff423f766cb35c5541b86

[2014-12-21 10:17] rjeczalik opened #52 "FSEvents: sanitise paths array in gocallback"
[code]

[2014-12-21 13:30] rjeczalik opened #53 "FSEvents: fix TestWatcherBasic"
[code]

[2014-12-21 14:26] #9 closed, assigned to rjeczalik

[2014-12-21 14:26] #52 closed, assigned to nobody

[2015-01-01 10:54] #38 closed, assigned to nobody

[2015-01-02 13:56] #53 closed, assigned to nobody

[2015-01-11 16:26] #16 closed, assigned to nobody

[2015-01-13 19:30] rjeczalik opened #54 "FSEvents: unexpected dangling events"
https://travis-ci.org/yaey8Hee/Oong7Pha/builds/46892003

[code]

[2015-01-13 21:05] #12 closed, assigned to nobody

[2015-01-13 21:08] #40 closed, assigned to rjeczalik

[2015-01-19 22:57] rjeczalik opened #55 "tree edge-cases"
- [x] for inotify&kqueue add Create event for every watch
- [x] register user c for parent recursive watchpoint as inactive
- [x] non-recursive watch prevents globbing for recursive one for inotify (bug)

[2015-01-21 13:28] #54 closed, assigned to rjeczalik

[2015-01-21 13:32] rjeczalik opened #56 "FSEvents: handle event ID counter flips"
- [x] use global `almostNow` only for initializing new streams
- [x] on `kFSEventStreamEventFlagEventIdsWrapped` event update all event ids

[2015-01-21 20:07] #56 closed, assigned to nobody

[2015-01-21 20:55] rjeczalik opened #57 "remove String() from EventInfo interface"
- [ ] remove String() from EventInfo interface
- [ ] ensure all eventinfo structs implement `fmt.Stringer`

[2015-01-22 18:32] ppknap opened #59 "readdcw: notify tests fail under Windows XP"
Output:
[code]

[2015-01-22 19:25] ppknap opened #60 "inotify: rework to support system-dependent events"
- [x] disable inotify behavior events (version 2?)
- [x] watch notify events and sys events with one watcher on >1 chans
- [x] inline documentation
- [x] README.md update
- [x] once again check `{watcher,event}_inotify.go` code (review?)
- [x] error handling

[2015-01-22 21:32] rjeczalik commented on #49
fd8811f3668f7d1b7

[2015-01-22 21:40] rjeczalik commented on #49
https://travis-ci.org/rjeczalik/notify/builds/47973996

@pblaszczyk Good job sir! Want a kudo? XD

[2015-01-22 21:40] #49 closed

[2015-01-24 16:15] rjeczalik opened #61 "FSEvents: test failure when NOTIFY_TMP=/tmp/notify"
[code]

[2015-01-24 16:28] #51 closed

[2015-01-24 16:44] rjeczalik opened #62 "FSEvents: historical events strip needs more magic"
[code]

For the following filesystem actions:

[code]

FSEvents reports (after strip):

1) `Create | FSEventsIsFile` (`Create | FSEventsIsFile`)
2) `Create | Write | FSEventsInodeMetaMod | FSEventsIsFile` (`Write | FSEventsInodeMetaMod | FSEventsIsFile`)
3) `Create | Write | FSEventsIsFile | FSEventsInodeMetaMod` (`Write | FSEventsIsFile | FSEventsInodeMetaMod`)
4) `Write | Create | Delete | FSEve

[2015-01-26 21:55] #50 closed

[2015-01-26 22:28] rjeczalik commented on #55
Tree for `inotify` is going to be fixed by #5. Handling inactive watchpoint is being implemented by #6.

[2015-01-26 22:28] #55 closed

[2015-01-27 23:31] rjeczalik opened #63 "kqueue: race on directory write"
https://travis-ci.org/rjeczalik/notify/builds/48553299

[code]

@pblaszczyk Does it qualifies for a fix or should I add dispatching Error events? If the latter, the event is already in place so it's just matter of dispatching it.

[2015-01-29 22:12] #63 closed

[2015-02-03 19:37] ppknap commented on #59
Test was run on ext4 file system which is not supported by ReadDirectoryChangsW impl:
https://msdn.microsoft.com/en-us/library/windows/desktop/aa365465%28v=vs.85%29.aspx
[code]

[2015-02-03 19:37] #59 closed

[2015-02-05 20:55] rjeczalik opened #64 "tree: rework merging inactive watchpoints from child to parent trees"
When the same chan is used to watch both watchpoints, the child and parent one, the latter will get overwritten with `inactive` flag coming from the child.

Quick fix would be to drop the `inactive` flag for this chan, however this would require maintaining temporary unique set of user chans for each dispatch to ensure single event is not dispatched multiple times to the same channel.

The proper

[2015-02-07 20:39] rjeczalik opened #66 "watcher: support recursive -> non-recursive and vice versa rewatching"
`Rewatch` and `RecursiveRewatch` should support two more transitions.

Currently passing equal paths and eventsets to both is a nop. Instead it should change the watch state to non-recursive for the former and to recursive for the latter.

[code]

[2015-02-07 23:55] #64 closed

[2015-02-08 13:58] #6 closed

[2015-02-08 23:21] rjeczalik opened #68 "ReadDirectoryChangesW: send on closed channel"
https://ci.appveyor.com/project/rjeczalik/notify-246/build/91

[code]

The dispatch channel's lifetime has not changed, yet apparently `readdcw` issues a dangling send. @ppknap reassign back to me if it turns out to be broken on my side.

[2015-02-09 08:14] #61 closed

[2015-02-09 13:55] #68 closed

[2015-02-10 13:00] rjeczalik commented on #66
@ppknap Sir, the `TestWatcherRecursiveRewatch` test is disabled under Windows. Please halp.

[2015-02-10 14:32] #66 closed

[2015-02-12 19:35] #57 closed

[2015-02-15 15:51] rjeczalik opened #69 "collect watchpoints when underlying watch was removed outside notify"
Currently it's not possible to call `notify.Watch` on a path that was already watched, but the watch was invalidated by delete of a file / directory, assuming the user did not clean all his watchpoints by calling `notify.Stop`.

Listen for Delete events for both watchpoint tree implementations and mark such watchpoint as inactive. On subsequent `notify.Watch` on that path reset the watch to its pr

[2015-02-15 16:59] rjeczalik opened #70 "rename Delete and Move events"
`notify.Delete` -> `notify.Remove` (because `os.Remove`)
`notify.Move` -> `notify.Rename` (because `os.Rename`)

And we're still before release, so it's not too late for that.

Do you agree? @pblaszczyk @ppknap

[2015-02-15 17:03] pblaszczyk commented on #70
I sure do.

[2015-02-15 18:38] ppknap commented on #70
:+1:

[2015-02-15 23:43] #70 closed

[2015-02-16 09:32] #48 closed

[2015-02-16 12:59] ppknap opened #71 "inotify: support for watcher behavior masks"
This functionality was disabled due to the problems with multiple chans which need different watcher behavior:

Example:
[code]

[2015-02-16 13:56] rjeczalik commented on #71
The same story for FSEvents:

[code]

The problem with `notify.Watch(".", c, notify.InDelete, notify.InOnlydir)` is the events are exclusive, if a watchpoint has one channel listening only for `InDelete` and second for `InDelete | InOnlyDir`, the `InDelete | InOnlyDir` event will not get dispatched to the former channel.

Additionally inotify says that `IN_ISDIR` is one of special flags, not event

[2015-02-16 13:56] #71 closed

[2015-02-21 19:02] #60 closed

[2015-02-22 15:35] ppknap opened #72 "readdcw: support for system-dependent events [for (File|Dir)Name notify changes]"

[2015-02-22 15:41] ppknap opened #73 "readdcw: watcher hangup when passing action events as Watcher function arguments."
[code]

[2015-02-23 10:31] rjeczalik commented on #69
The issue is two-fold - it won't work perfectly across platforms as Windows does not notify about removed watches:

[code]

The most proper way to deal with this is to set a watchpoint on a path which is guaranteed to not be gone, when we do care to receive events for whole lifetime of our application (those paths being equivalent to `%userprofile%`, `$GOPATH`, `$TMPDIR` etc.).

If for some reason

[2015-02-23 10:31] #69 closed

[2015-02-23 15:06] #73 closed

[2015-02-23 15:31] rjeczalik opened #74 "panic: send on closed channel in tests"
Race on `(*watch).events` between `(*watch).Dispatch` and `(*watch).Close`.

https://travis-ci.org/rjeczalik/notify/jobs/51111595

[code]

[2015-02-23 21:02] rjeczalik commented on #62
https://travis-ci.org/rjeczalik/notify/jobs/51878432

[2015-02-23 21:46] #74 closed

[2015-02-26 12:37] #5 closed

[2015-02-26 22:37] ppknap opened #75 "readdcw: support for FileActionModified action on multiple channels watching different FileNotifyChange* events on same directory."
Windows (ReadDirectoryChangesW) cannot recognize which notification triggers FileActionModified event.

Problem occurs only when user watches a directory using multiple chans and mixes one or more of the following events:
[code]

Example:
[code]

Someone changes size of a file in `/some/path` directory.
Desired output:
[code]
Current output:
[code]

Someone changes security of a file in `/some/pat

[2015-03-13 16:40] #72 closed

[2015-04-21 20:11] Zillode opened #76 "Silent fail when exceeding inotify watch limits (Linux)"
Currently, no errors are raised when exceeding the `/proc/sys/fs/inotify/max_user_watches` limit on Linux (I guess this is also true for OSX).
Therefore, our [client application]](https://github.com/syncthing/syncthing-inotify/tree/rjeczalik-notify) cannot know whether all watches are properly installed, which makes all benefits fade away. Is there a way to capture incomplete inotify handlers?

[2015-04-21 23:35] ppknap commented on #76
hi @Zillode, thank you for reporting this to us.

I will fix this issue as soon as possible (probably tomorrow).

Regarding incomplete inotify handlers, at this moment the only solution is to increment the number of maximum user watchers by modifying the file you mentioned above. However, there are(were) plans to switch to polling when something goes wrong with native watchers, but it is @rjeczali

[2015-04-22 05:54] rjeczalik commented on #76
@Zillode It's not, it uses FSEvents and the implementation is able to minimize number of watches for multiple paths by watching their earliest ancestor. The problem with fd limits is real for kqueue.

By implementing polling to dodge one limit we will fall into another one - fd limit, however it may be a bit benigner. What I think could improve the situation here are watchpoint filters - e.g. if y

[2015-04-22 06:26] Zillode commented on #76
Thanks for the quick responses!

It is true we aim for cross-platform support, and I'll fix the filepath.Join issue you mentioned. It's also nice to see that this library fixes major issues we've had with go-fsnotify/fsnotify on OSX. However, OSX is the only platform which is incompatible with cross-compilation, [correct](watcher_fsevents_cgo.go)?

The current Syncthing behaviour uses polling and

[2015-04-22 06:38] rjeczalik commented on #76
@Zillode No and yes. No, you can't cross-compile CGO code with vanilla go toolchain not having cross-compilers set up (CC_FOR_TARGET etc.). Yes, you can however pre-built dependencies only once on Darwin, and use compiled libraries for cross-compiling under Linux. You install notify on Darwin with `go install github.com/rjeczalik/notify` and copy `$GOPATH/pkg/pkg/darwin_amd64/github.com/rjeczalik/

[2015-04-23 17:11] nathany commented on #76
@rjeczalik If enabling cross-compilation with an OS X target, would it make sense to have a thin wrapper around FSEvents that rarely changes, and is then used by notify (or fsnotify)?

[2015-04-23 18:11] rjeczalik commented on #76
@nathany Do you mean something like FSEvents-bindings for Go? It could be doable to turn [watcher_fsevents_cgo.go](https://github.com/rjeczalik/notify/blob/master/watcher_fsevents_cgo.go) into some notify/fsevents package, however there're a lot of hardcoded parameters, so some refactoring would be required.

From the cross-compilation viewpoint nothing will change, you still would need to keep `f

[2015-04-23 18:33] nathany commented on #76
That's a good point regarding cross-compilation. So maybe notify.a is better. To avoid further hijacking this issue, I opened a new issue regarding low-level bindings. https://github.com/go-fsnotify/fsnotify/issues/75

[2015-05-18 00:25] lox opened #78 "Expected behaviour for rename events?"
What's the expected behaviour for rename events? I'm working with FSEvents under OSX, and when I rename a file from `file1.txt` to `file2.txt`, I get a single event `notify.Rename file1.txt`.

Is this expected? Is there a way to see what the file was renamed to?

[2015-05-18 06:17] rjeczalik commented on #78
In theory `FSEvents` emits two Rename events and I see couple of reasons you're getting only one event:

- you watch `file1.txt` file directly
- you move the file to a directory which is not watched
- FSEvents

In practice events emitted by `FSEvents` [require heuristics](https://github.com/rjeczalik/notify/blob/10757654beb5355b8c597878f7e48e1d4d874fd8/watcher_fsevents.go#L62) in order to make emi

[2015-05-22 06:10] lox commented on #78
[code]

[2015-05-22 06:11] lox opened #79 "Include/Exclude filters?"
It would be great to have an easy way of specifying include/exclude filters when registering watches. This would allow for inotify and other backends that have a limited number of watches to not watch folders that would be excluded by the user.

[2015-05-23 11:51] Zillode commented on #76
Will https://github.com/rjeczalik/notify/commit/00b250008103ba9e5d8d4f126327d0edf48253f9 be merged in master?

[2015-05-23 12:56] ppknap commented on #76
No, this commit is a workaround which doesn't unwatch already watched files when the file descriptor limit is reached. Since we want recursive watchers to act like a transaction, we decided to not marge this into a master branch.

As a workaround, you may fork the repository and cherry-pick https://github.com/rjeczalik/notify/commit/00b250008103ba9e5d8d4f126327d0edf48253f9 to your master.

[2015-05-24 09:54] rjeczalik commented on #79
@lox Something like this?

[code]

I'm afraid per-watch filters would be too cumbersome to implement.

[2015-05-27 00:24] nathany commented on #79
Or a slice of Glob patterns?

Though I must ask, what would be the advantage of direct support over filtering the EventInfo that is received?

(fsnotify ref https://github.com/go-fsnotify/fsnotify/issues/10)

[2015-05-27 03:43] rjeczalik commented on #79
@nathany The use-case is to filter paths *before* the watch is set. It could help when you have 2028 fds left, the directory tree you're about to watch has 7228 directories and the .git directory - 5200 ;)

[2015-05-27 04:31] nathany commented on #79
Makes sense. At least on systems with fds. How would this work on fsevents?

[2015-05-27 05:08] rjeczalik commented on #79
@nathany As a nop, it will just filter out reported events before dispatching them to the channel. FSEvents listens to the whole tree so there's no facility to make it ignore particular leaf.

[2015-05-27 05:39] nathany commented on #79
Makes sense. Then it's just a matter of API.

I would suggest Exclude as Filter could be taken as inclusive or exclusive. Except, Without...

Why use a pipe separated string rather than commas or a slice? Or just multiple calls to exclude more things?

[2015-05-27 07:15] rjeczalik commented on #79
@nathany It's just regex, the example is unfortunate enough to suggest multiple paths are separated with pipe char - I think it should be properly described by method's inline doc. Imho there's no sense for inclusive filters, as if no filter is set every directory within a tree is watched for recursive watchpoints. The purpose of the filter is to filter out trees which user knows are better ignore

[2015-06-04 12:05] Zillode opened #80 "Notify does not resolve symlinks on windows"
According to the [documentation](https://godoc.org/github.com/rjeczalik/notify): `Notify resolves, for its internal purpose, any symlinks the provided path may contain, so it may fail if the symlinks form a cycle.`
However, this is not true for windows platforms and we are interested to have this feature.

Symlinks are created using ```mklink /d``` on Windows 8.1

[2015-06-09 12:18] advanderveer opened #81 "File monitoring on mounted (network) volumes"
I'm looking for cases in which the project is mounted on (network) volumes and block the usage of Timeglass

[2015-06-09 13:34] advanderveer commented on #81
Sorry, I somehow posted this in the wrong repo

[2015-06-09 13:34] #81 closed

[2015-06-24 06:16] rjeczalik commented on #80
Hey @Zillode, sorry for taking so long to respond. The canonical paths [are there](https://github.com/rjeczalik/notify/blob/d7efb190f523e9c470ae3e0704494bfadd7151a0/util.go#L67) more for internal purpose rather than a library feature - to be able to merge two watchpoints, set on symlink and its target, into one.

If it does not work on Windows, I'll look into it. If you could provide a test-case (

[2015-06-24 06:26] Zillode commented on #80
Will do!

[2015-07-02 15:24] unbalancedparentheses commented on #79
It would be really useful to have this feature :)

[2015-07-06 00:49] sethwklein opened #82 "Starting two watches in a certain order causes events to be received for only one on OS X 10.10"
[code]

This platform fails:
[code]

This platform works:
[code]

[2015-08-01 18:35] hlandau opened #83 "Does not resolve relative symlinks properly"
If the watcher is asked to monitor a path /a/b/c/d/e/f, where c is a symlink to (literally) x/y/z, this should be resolved to /a/b/x/y/z/d/e/f. Instead, it seems to get resolved to /x/y/z/d/e/f.

[2015-08-01 19:11] rjeczalik commented on #83
@hlandau Yup, it erroneously assumes [here](https://github.com/rjeczalik/notify/blob/master/util.go#L91) the link is absolute.

[2015-08-17 17:49] teechap opened #84 "Notify doesn't fire events when a folder changes in Mac OS X Finder"
I'm playing around with notify and I'm not sure if I've found a bug in Mac OS 10.10.4. Here's a simple program I'm running:
[code]
When I create and delete files using Terminal (i.e. ```echo hello > newfile.txt``` and ```rm -rf newfile.txt```, the channel reports events fine. However, when I create a file and click "Move to Trash" in Finder, no event gets fired off. Do you know why?

[2015-08-18 12:34] #84 closed

[2015-08-18 12:36] rjeczalik commented on #84
Hey @teechap! Sure, the file is *moved* to trashed, so you'd need to also watch for the move events - `notify.Rename`.

[2015-08-18 16:29] techapman commented on #84
I'm not very familiar with the FSEvents API, but I'm curious why a "move" event is called "rename." Do you know a good resource to learn the quirks of the API? I would never guess that's how it does things.

[2015-08-18 17:12] rjeczalik commented on #84
@techapman The move event is called after `rename` in kqueue, FSEvents and RearDirectoryChangesW and after `move` in inotify, so the former is used as it is more widespread across platforms.

The notify API is best to learn from [it's godoc](https://godoc.org/github.com/rjeczalik/notify#pkg-constants). Each os-level filesystem notification is documented:

- kqueue in this [man page](https://www.fr

[2015-09-11 03:30] #83 closed

[2015-10-16 23:45] sent-hil opened #85 "Missing events when creating files by bulk"
Hey Rafal, I'm running into a weird issue with watching, where lot of events are dropped when the files are created in a rapid succession, ie using `for f in {0..10}; do echo $f > "$f.txt"; done`

Here's the code I'm using:
[code]

I tried the same with `fsnotify` and I'm not noticing any drop there:

[code]

If I added a bit of sleep (0.1s) between file creation, all the events are received. I te

[2015-10-17 11:02] rjeczalik commented on #85
Hey, will look into it. There's a `debug` tag which should hint where the events are lost - probably it's the dispatch tree.

[code]

[2015-10-17 13:16] ppknap commented on #85
Hi all!

Actually, this is not a bug. @sent-hil you need to provide a buffered channel to `Watch` function:

[code]

Rafal, we haven't been contributing to notify for a long time.. Maybe it's time to do something with it? :smile:

[2015-10-17 14:28] rjeczalik commented on #85
Oh, true, the doc should be more clear about it.

@ppknap There's still a number of bugs to sort out first - #80, #82, then major feature - watch recovery for #76 and filtering #79. Also refactoring needs to be done also.

I can prepare a doc for it later tomorrow.

[2015-10-19 12:53] #85 closed

[2015-10-19 15:16] sent-hil commented on #85
@rjeczalik @ppknap ah got it. I tried it again with a buffered channel and it seems to not drop the events anymore. How would you recommend setting the buffered channel size so the events are never dropped regardless of event rate? For my use case I've no idea what the event rate will be (using this pkg as part of an binary that's distributed to users), so I'm not sure about the size.

[2015-10-19 16:46] rjeczalik commented on #85
@sent-hil E.g. you can queue the events yourself, so none is dropped:

https://gist.github.com/rjeczalik/7faa93691e6da35b1f84

Question is, if it makes sense to queue the events when the receiver does not keep up with processing them - sometimes you may want to coalesce them first.

[2015-10-31 18:35] pblaszczyk opened #86 "Add watcher implementation for FEN."

[2015-11-01 09:15] rjeczalik commented on #86
:+1:

[2015-11-06 11:29] piotrrojek opened #87 "Notify doesn't work for CIFS-mounted folders in linux/OSX"
The possible solution would be polling, so it's related to https://github.com/rjeczalik/notify/issues/35.

[2015-11-06 12:49] ppknap commented on #87
Hi @piotrrojek !

None of the os watchers work on NTP filesystems, also affects Windows, FreeBSD and any other platforms. If you want to have a shot at implementing this, look at the API of non-recursive watcher implementation as [watcher_inotify.go](watcher_inotify.go) or [watcher_kqueue.go](watcher_kqueue.go).

As noted, closing is a duplicate.

Thanks for contributing!

[2015-11-06 12:49] #87 closed

[2015-11-21 14:17] Forkest commented on #85
Of course it makes sense! Dropping events is usually irresponsible, it desynchronizes the state in the app with the state on the disk, and you aren't even notified of this fact. I can't imagine what are you using fsevents for, if you are allowing them to be dropped. That's an absolutely normal situation when a disk periodically has a peak write load, and that's not a reason to drop events. Perhaps

[2015-11-21 15:33] rjeczalik commented on #85
@Forkest :+1: Will get that queueing eventually implemented, stay tuned :-)

[2015-11-21 16:20] Forkest commented on #85
That's good!

You may want to consider the possibility of using InfiniteChannel from https://github.com/eapache/channels or maybe https://rogpeppe.wordpress.com/2010/02/10/unlimited-buffering-with-low-overhead/

[2015-11-21 16:23] rjeczalik commented on #85
@Forkest Surely will look into this, thanks for the links!

[2015-12-01 09:00] timesking opened #88 "notify.ALL does not have event for file on 'cp -R a/ ./b'"
Hi,

I tried to monitor file changes, just like what https://github.com/rekby/etcddir/blob/master/main.go did.

[code]

buf if folder a has as structure like this
[code]

when I tried to `mkdir /c && cp -R /a/* /c`, the c folder will have a tree:
[code]

but there is no event about 1.txt and 2.txt.

Could you help me to figure it out what's wront?

[2015-12-01 09:06] rjeczalik commented on #88
Hey @timesking, thanks for reporting. What platform are you using?

You may want to use a bigger buffer here if you expect larger volume of notifications.

[2015-12-01 09:17] timesking commented on #88
I have changed to 1000, but nothing help

The system is
[code]

[2015-12-01 09:35] rjeczalik commented on #88
You need to provide with full example, there might be too much loose ends (blocking send on `bus`?).

(hint: for debug logging you just compile your cmd with `-tags debug`)

[2015-12-01 13:47] ppknap commented on #88
Hi guys!

 @timesking I assume that want to receive create events for `/c/b/1.txt` and `/c/b/2.txt`. The problem is that these events are triggered **before** we create watchers for `c` and `b` directories. Because inotify is not recursive, we must set watchers manually and we are just not fast enough to catch all events triggered before we do so...

 The best solution is to rescan all subfolders

[2015-12-02 00:56] timesking commented on #88
Oh, Thanks @ppknap, it is really helpful. I will make a try with scan later.

[2015-12-16 22:18] pblaszczyk commented on #86
Closed with a7cde5a8ddcb5b1e603564464d655f589b7e6d30.

[2015-12-16 22:18] #86 closed

[2015-12-17 00:09] nathany commented on #86
Wow. Awesome.

[2015-12-18 03:16] swynter-ladbrokes opened #89 "Windows no target on rename"
Greetings

Super simple code

[code]

When I rename a file or directory in c:\temp I get the rename, but no target "create"

[code]

Linux gives me a rename->create
OSX gives me rename->rename

[2015-12-18 03:39] swynter-ladbrokes commented on #89
Right after I posted this, I wondered if it was some sort of timing issue and increased the channel buffer from 1 to 2, and now I get two rename events.

Trap for young players? :D

[2015-12-18 09:01] rjeczalik commented on #89
@swynter-ladbrokes: This is one way to put it - related to https://github.com/rjeczalik/notify/issues/85. The idea to off-load the buffering logic to the user was borrowed from [(os.Signal).Notify](https://golang.org/pkg/os/signal/#Notify). We want to take it over at some point.

[2015-12-18 11:10] ppknap commented on #89
No, It isn't a trap. Examples have `1`-sized buffer just to show that you need to specify its size in order to not drop the events. Maybe we should set this to some larger value to avoid issues like this?

[2016-02-11 18:36] josharian opened #90 "incompatible with Go 1.6 cgo/GC rules"
See https://tip.golang.org/doc/go1.6#cgo for background.

Using Go 1.6rc2 with `github.com/cortesi/modd` immediately generates a panic from within this library. To reproduce:

* Use Go 1.6rc2.
* `go get -u github.com/cortesi/modd/cmd/modd`
* Write a file called `modd.conf` that contains `* {}`.
* Execute modd.

Result:

[code]

[2016-02-12 01:49] nathany commented on #90
This is reported for the line at https://github.com/rjeczalik/notify/blob/master/watcher_fsevents_cgo.go#L131

It also shows up just by running the tests.

[2016-02-12 01:59] nathany commented on #90
@josharian Thanks for reporting the issue. You can use `GODEBUG=cgocheck=0` for the moment to get modd running.

[2016-02-12 02:04] nathany commented on #90
More information: http://tip.golang.org/cmd/cgo/#hdr-Passing_pointers as well as the proposal https://github.com/golang/proposal/blob/master/design/12416-cgo-pointers.md.

[2016-02-12 20:05] josharian commented on #90
`p` is of type `_Ctype_CFStringRef`, which is a `*_Ctype_struct___CFString`. (Compile with `-work` and root around in the `_obj_test/_cgo_gotypes.go` directory in the work directory.) So `&p` is effectively a `**_Ctype_struct___CFString`, which is a pointer to a Go pointer.

So I think it is not a false positive, although I am not an expert--if you still think it is a false positive, you should de

[2016-02-13 18:49] nathany commented on #90
Thanks for digging deeper into it @josharian.

[2016-02-23 07:46] cortesi commented on #90
Any news on this issue? It's obviously a blocker for us now 1.6 is out.

[2016-02-23 11:23] rjeczalik commented on #90
@cortesi Not touched yet, I will update it closer to the end of this week.

[2016-02-23 18:41] nathany commented on #90
@rjeczalik There is a potential fix to the same issue in the fsevents library. https://github.com/fsnotify/fsevents/pull/13

[2016-03-07 07:11] #90 closed

[2016-03-09 01:56] alecthomas commented on #90
Thanks @rjeczalik.

[2016-03-10 08:04] F21 opened #95 "Recursive watches on Linux reports wrong directories if directories are renamed."
I don't know how complete the support for recursive watches on Linux, but here are the steps to reproduce the problem.

I am using Ubuntu 15.10 64-bit within VirtualBox.

I am also using the notify command line program from: https://github.com/rjeczalik/cmd/tree/master/notify

First, I set up the watcher like so:
[code]

Then, I make the following changes to the filesystem:
1. Create folder `test`

[2016-03-12 21:56] rjeczalik commented on #95
Hey @F21!

It's a known limitation of inotify (http://man7.org/linux/man-pages/man7/inotify.7.html):

[code]

Notify does not yet handle invalidating the cache and rescanning filesystem, however it'd be nice to have that supported.

I'm leaving the issue open to track progress on that feature.

[2016-03-14 15:44] sbaileyms opened #96 "Case sensitivity issue"
If I start a watch with a path that doesn't match the case sensitivity of whats in the file system, events get filtered out and not sent. I had an email exchange with you about this.

doesn't work
	err := notify.Watch("/users/sbailey/...", c, notify.All)

works

	err := notify.Watch("/Users/sbailey/...", c, notify.All)

[2016-03-15 16:25] nathany commented on #96
which operating system and file system is this issue for?

[2016-03-15 16:33] rjeczalik commented on #96
@nathany Oh sorry, we were discussing it over e-mail - it's for `fsevents`.

[2016-03-15 17:00] sbaileyms commented on #96
Yes was in macos. I'll see if it repro on Windows.

Sent from Outlook Mobile<https://aka.ms/qtex0l>

On Tue, Mar 15, 2016 at 9:33 AM -0700, "Rafal Jeczalik" <notifications@github.com<mailto:notifications@github.com>> wrote:

@nathany<https://github.com/nathany> Oh sorry, we were discussing it over e-mail - it's for fsevents.

-
You are receiving this because you authored the thread.
Reply to this

[2016-03-15 19:17] nathany commented on #96
Using Case Sensitive HFS+?

[2016-03-15 20:08] sbaileyms commented on #96
No.

Sent from Outlook Mobile<https://aka.ms/qtex0l>

_____________________________
From: Nathan Youngman <notifications@github.com<mailto:notifications@github.com>>
Sent: Tuesday, March 15, 2016 12:18 PM
Subject: Re: [notify] Case sensitivity issue (#96)
To: rjeczalik/notify <notify@noreply.github.com<mailto:notify@noreply.github.com>>
Cc: Steven Bailey <sbailey@microsoft.com<mailto:sbailey@micro

[2016-03-15 20:13] nathany commented on #96
Oh. That is odd. Here is a similar issue in nodejs: https://github.com/paulmillr/chokidar/issues/418 It sounds like it's something FSEvents itself does.

[2016-03-15 21:11] rjeczalik commented on #96
@nathany The problem is if you set a watch on `/users/rjeczalik/test` then any incoming event will have path with a proper case, `/Users/rjeczalik/test/test` in this case.

Example:

[code]
[code]
[code]

The program will output:

[code]

The solution would be to call or replace `canonicalPath` with `realpath` from tools/x/sys repository.

[2016-03-15 21:23] sbaileyms commented on #96
I'm not seeing the issue on Windows.

[2016-03-15 21:26] nathany commented on #96
Would it be possible to just fix `/users/rjeczalik/test` to the actual path at the beginning of Watch?

[2016-03-15 22:08] rjeczalik commented on #96
Yup, that's the plan, we'll need `realpath` syscall for that.

[2016-03-15 23:17] sbaileyms commented on #96
Glad you guys know the issue. I tried to find a workaround where I read DIR names from the file system to see if I get back the correct case and then reconstruct the path that i passed to Watch but the Stat API still returns the Users directory with a lower case u (users). So no way for me to get correct case or real path from Go.

On Mar 15, 2016, at 3:08 PM, Rafal Jeczalik <notifications@github.

[2016-03-16 14:42] sbaileyms commented on #96
I figured out a work around where I can use ReadDirNames and get the case corrected path to pass into Watch. but, a fix would still be appreciated.

/* ---------------------------------------------------------------------------------------*/
func GetCaseCorrectBase(path string) string {
  base := filepath.Base(path)
  file, err := os.Open(filepath.Dir(path))
  if checkerror(err) {
    return base

[2016-03-17 20:17] steakknife opened #97 "notify.All does not recognize [cma]time updates (touch filename)"
As a hackaround, setting all bit-flags seems to work:

[code]

[2016-03-17 20:17] #97 closed

[2016-03-29 15:23] hnakamur opened #98 "Report an error when events are dropped or send events synchronously"
Hi, first of all, thanks for a nice software!

The code at
https://github.com/rjeczalik/notify/blob/5dd6205716539662f8f14ab513552b41eab69d5d/watchpoint.go#L88-L92
says it drop events when the receiver is too slow.

I want to know whether or not events are dropped by checking an error, not by looking at debug prints.
To tell the truth, I think it's easier if events are sent synchronously.

For exam

[2016-03-29 15:36] rjeczalik commented on #98
@hnakamur There's definitely room for improvement here. If you're expecting high volume of events you may find `QueuedWatch` helpful - https://gist.github.com/rjeczalik/7faa93691e6da35b1f84, and eventually do coalescing of the events in your app. Relevant thread: https://github.com/rjeczalik/notify/issues/85

Leaving open to keep track of this feature.

[2016-03-29 16:24] hnakamur commented on #98
@rjeczalik Thanks for your reply. I read thread #85 and understand the problem better now.
Usually an event producer can cope with a consumer and slow the pace.
However filesystem events occurs independently on event listeners.
So it is unavoidable for events are dropped generally.

I think your `QueuedWatch` helps in some cases, but there is still possibility for events to be dropped.
So I think

[2016-03-29 16:34] rjeczalik commented on #98
Unfortunately we can't just change the API. Instead we could have utility functions to do what you want, which for now could live outside this repository. Once we extend the API to enable more features they may be merged back in.

For you particular use-case you could write a `Filter` helper function that could do what you want:

[code]
[code]

If you would want to Stop `filteredC` you should also

[2016-03-29 16:40] hnakamur commented on #98
I understand we cannot change the API now.
Thanks for `Filter` and `FilterWatch` function! It is very helpful.

[2016-04-12 18:39] imsodin commented on #79
I was pointed here by Zillode after filing PR Zillode/notify#3. I needed the ignore functionality for syncthing-inotify and filed it against the Zillode fork, as my approach is limited to the part of the notify package that was accessed by the toplevel function Watch on linux/ext4. My approach is that a function is given to the Watch function that takes as a argument a path as a string and returns

[2016-04-14 14:14] fredcy opened #99 "panic in modd on OSX watching file in SMB volume"
As reported in  https://github.com/cortesi/modd/issues/22 I get a panic from the notify code in modd when I watch a file in OSX on a SMB volume (mounted from an NFS server). The same modd never panics when watching files on the local disk of the OSX machine.

OSX 10.10.5.
modd 0.3 built with Go 1.6.

[code]

[2016-04-14 15:09] rjeczalik commented on #99
@fredcy It basically means the even was dropped according to the FSEvents documentation, I believe it should also send `kFSEventStreamEventFlagKernelDropped` however it's missing here. I'm not sure FSEvents works on anything other than HFS+ volumes, which also includes e.g. USB drives mounted under /Volumes/.

Out of curiosity does .fseventd directory exist on your SMB volume?

[2016-04-14 16:32] fredcy commented on #99
I don't see any .fseventd directory either in the directory I was working in or in the SMB volume root or in any directory in between those two.

[2016-04-21 23:59] imsodin commented on #79
I now separated the ignoreTest specification from the Watch function. Thus there is no change in how to use the Watch function and everything remains just as it was before. Ignoring is only enabled by calling SetIgnoreTest with the desired function that determines which paths are ignored.
If you have no intention of incorporating/adapting my changes please say so. I am aware it is very minimalist

[2016-05-01 09:39] martinp opened #100 "Expose isDir"
Would it be possible to expose the `isDir` function in `EventInfo`?

Currently I have to reimpement it for every platform, e.g. for Linux:
[code]

From what I can tell it's currently implemented for all platforms, except kqueue, but maybe the kqueue implementation can be the same as the one for Windows (plain `Stat()` + `IsDir` check).

@rjeczalik What do you think?

[2016-05-01 10:55] rjeczalik commented on #100
@martinp If we just export it instead of adding to `EventInfo` (it would be a backward-incompatible change) then it sounds good to me.

[2016-05-01 12:17] martinp commented on #100
Agreed, it would be better to not break the `EventInfo` interface.

[2016-06-15 17:48] fjl commented on #99
A similar crash has been reported with our application. There is no way for us to know in advance whether the directory chosen by a user is located on a compatible file system.
Why is this a panic? Panicking in a background goroutine because of a harmless condition is wrong.

There should be a better way to handle this. One way I could think of would be to introduce an Error event type. I can send

[2016-06-15 19:10] rjeczalik commented on #99
@fjl The panic there was mostly to catch edge-cases like this, sorry you guys were the ones to be affected. The panic should be gone, there's no sense to keep it.

I think the proper solution would be to make the Watch fail if path is on incompatible filesystem - check filesystem type and fail if != HFS+ - I don't know off-hand what syscall to use.

I know that error event would be easy to impleme

[2016-06-15 23:48] fjl commented on #99
I still think an Error event is superior. Let me illustrate how we use notify so you can understand why:

We use notify to watch a single directory for changes. Changes in the directory invalidate a cache. If notify.Watch fails, we fall back to polling (but poll only if the user actually needs information about the files). This strategy works if Watch can detect that notifications are unavailable

[2016-07-10 10:26] iowelinux opened #101 "Help request"
Hi,

Actually this is not an issue however I believe your answer would be really helpful for lots of developers.
Here is a simple code I try to run.

[code]

Nothing is logged.
Do I do something wrong?

[2016-07-10 11:45] rjeczalik commented on #101
What should be logged? Could you `go run -tags debug main.go`, do whatever file operations you're doing and then paste the output here?

[2016-07-10 13:28] iowelinux commented on #101
As you can see in the code path and event type should be printed using log.Println

Seems like it was some kind of mistake at my side because the same code works now. Sorry for that.
I can detect Remove, Create, Rename events but can't get access events at all.

For instance running the following commands on Linux doesn't output anything:

[code]
nothing.

[code]
nothing.

I believe InAccess and I

[2016-07-10 13:41] rjeczalik commented on #101
`notify.All` is defined as:

[code]

If you want linux-specific events like `notify. InAccess`, you need to pass it additionally.

[2016-07-10 13:41] #101 closed

[2016-08-08 16:09] posto opened #104 "panic: runtime error: cgo argument has Go pointer to Go pointer"
Notify crashes on Go 1.6.3 with the following error message.
I noticed the already closed issue #90 is related to the same problem.
[code]

What I already tried is to `go get -u` both notify and modd, but it still crashes.

[2016-08-09 05:57] rjeczalik commented on #104
Apparently the modd binary is not rebuilt, modd has notify vendored in old version or the process is not restarted.

The stacktrace does not point to a valid line:

[code]

https://github.com/rjeczalik/notify/blob/master/watcher_fsevents_cgo.go#L131

[2016-08-09 06:00] rjeczalik commented on #104
The issue you linked was fixed by #93. If you attach new stacktrace that refers to HEAD of master of notify project it means the problem is still there and I'd take a look. For now closing.

[2016-08-09 06:00] #104 closed

[2016-10-04 13:10] markvincze opened #108 "Build on Windows targeting OSX fails"
I have an application in which I want to use `rjeczalik/notify`.
I build this application on a Windows machine for three platforms, Windows, Linux and OSX. If I want to build it for OSX, I get a compilation error.

My build script is doing:
[code]

And the error I get:
[code]

If I target Windows (`GOOS="windows"`) or Linux (`GOOS="linux"`), then this problem does not occur.

[2016-10-04 15:38] rjeczalik commented on #108
@markvincze Darwin uses CGO so you won't be able to cross-compile it.

[2016-10-04 15:38] #108 closed

[2016-10-04 15:41] rjeczalik commented on #108
If you have no other option to build for macOS you can pass `kqueue` build tag to use `kqueue` instead of `FSEvents` as the implementation:

[code]

[2016-10-04 16:04] markvincze commented on #108
Thanks for the info!

Do you know if kqueue has any significant drawbacks? Does it support recursive watching?

[2016-10-04 16:18] rjeczalik commented on #108
@markvincze All the watchers support recursive watching in notify - Windows and macOS natively, Linux and FreeBSD emulated. `kqueue` comes from FreeBSD, so the recursive watching is emulated by notify. With `kqueue` you may run out of fd limits eventually if you're watching a lot of files, bumping `ulimit` may help here.

[2016-10-06 21:09] AdamJacobMuller opened #109 "recursive watch on large directory exhausting inotifywatch does not cause error"
Trivial repro but including it anyway.
`
package main

import (
	"log"

	"github.com/rjeczalik/notify"
)

func main() {
	c := make(chan notify.EventInfo, 1)

	if err := notify.Watch("/home/adam/...", c, notify.All); err != nil {
		log.Fatal(err)
	}
	defer notify.Stop(c)
	for {
		ei := <-c
		log.Println("event", ei)
	}
}
`

/home/adam/ is a directory with a lot (probably a few million) files.

In t

[2016-10-06 21:10] AdamJacobMuller commented on #109
would there be any support for an fanotify patch? It doesn't include some of the granularity of inotify but it also doesn't suffer from this issue

[2016-10-07 08:45] rjeczalik commented on #109
@AdamJacobMuller Thanks for the report. The ideal solution would be here to either fallback to polling or keep retrying setting the watch with some backoff.

Currently notify does not have an API to return watch errors (with a channel of some sort), as the philosophy was "if notify is not able to recover from watch error then user also won't be able to". After working for a while with such approac

[2016-10-25 04:00] thejacobtaylor commented on #95
@rjeczalik Thank you for such a nice library. How hard would you estimate adding in the scanning would be?

[2016-12-01 06:56] pzreact opened #110 "recursive watch causing some errors"
Have following log from my go program running on Ubuntu 14.4

goroutine 1 [runnable]:
syscall.Syscall(0xd9, 0x8, 0xc8335b3000, 0x1000, 0xfc0, 0x1000, 0x0)
        /usr/lib/go/src/syscall/asm_linux_amd64.s:18 +0x5
syscall.Getdents(0x8, 0xc8335b3000, 0x1000, 0x1000, 0xc8335b3f73, 0x0, 0x0)
        /usr/lib/go/src/syscall/zsyscall_linux_amd64.go:508 +0x5f
syscall.ReadDirent(0x8, 0xc8335b3000, 0x1000,

[2016-12-05 11:43] rjeczalik commented on #110
@pzreact Is it a panic? What does it say? Where are the sources for your go program?

[2016-12-09 05:45] pzreact commented on #110
I see it happens only when I run program under supervisord. When I run manually everything is fine,
not sure what causing the difference.

[2016-12-18 23:32] rjeczalik commented on #110
@pzreact Where are the sources for your go program?

[2017-01-02 20:57] steverob opened #111 "FreeBSD - ZFS mounted drive"
Hi, I am trying to use `notify` to listen to `CREATE` events in a volume mounted over ZFS in a server running FreeBSD.

But the event does not get captured at all. The code works fine in my Ubuntu distribution.

Any idea why? Thanks!

[2017-01-02 22:33] pblaszczyk commented on #111
Hi. Please show your code + output of `mount` + used commands with information on which mount point they are executed + output of `freebsd-version`.

[2017-01-03 08:39] steverob commented on #111
@pblaszczyk sure. Here is the code -

[code]

[2017-01-16 05:21] steverob commented on #111
@pblaszczyk any thoughts on this? Appreciate your effort!

[2017-01-16 17:52] pblaszczyk commented on #111
Hi. Yes. Unfortunately I believe there is a bug here. Just to confirm that this is really the same scenario: please try watching on events `notify.Create | notify.Write` and check if with this configuration `notify.Create` events are triggered.

[2017-01-16 17:55] rjeczalik commented on #111
Just fyi - debug logs may also be helpful, build/run your code with debug tag:

[code]

[2017-01-16 18:45] steverob commented on #111
@pblaszczyk Thanks, I'll try with that and let you know.

@rjeczalik unfortunately in the target machine I cannot install go. :(

[2017-01-17 11:27] steverob commented on #111
@pblaszczyk thanks. THAT WORKS! :) Thanks a lot.

[2017-01-17 23:27] rjeczalik commented on #89
I think it's not needed for now.

[2017-01-17 23:27] #89 closed

[2017-01-20 19:13] pblaszczyk commented on #111
Closed by #112.

[2017-01-20 19:13] #111 closed

[2017-02-24 00:55] bacongobbler commented on #109
Just wanted to bump this issue as well. I was scratching my head for a few hours on why inotify events were not being seen by this lib and it turned out I too ran out of watches.

On debian:

[code]

Bumping the default 8192 to 16384 in `/proc/sys/fs/inotify/max_user_watches` did the trick!

I'm going to see if there's a way we can return watch errors on another channel as @rjeczalik mentioned.

[2017-02-24 00:59] bacongobbler commented on #109
Also for the record, if I **did not** watch a directory recursively, it would fail with the somewhat cryptic `No space left on device` error, which seems to be how other programs [like `tail` would fail as well](http://askubuntu.com/a/155426). If it's a recursive watch, the error is not raised and we end up where I began my debugging.

[2017-04-13 13:20] imsodin opened #117 "Event types differ between linux and windows on rename/move"
This might be a bug, but just as well just a support request. I assume that the idea is, that the 4 platform independent events should be as consistent between platforms as possible.

What I need to do is to separated events into two types: "remove" (whenever a path goes away, either delete or source of move) and "non-remove" (for everything else). Looking and testing on linux (inotify) I found th

[2017-04-13 14:18] rjeczalik commented on #117
How do you remove files on Windows? I believe Windows can move them to bin, thus the rename.

[2017-04-13 14:20] imsodin commented on #117
I run the code I provided above, so everything works true the "os" package of Go.
Rename is expected, as I am renaming, but what is problematic for me is the different behaviour on Linux vs Windows (destination of rename on Linux gets a Create event, on Windows a Rename event).

[2017-04-13 14:30] rjeczalik commented on #117
@imsodin I just realised you posted a repro, sorry, ignore my comment. The package does not translate yet os-specific behaviour to some unified event model, as we don't have one.

Under Linux it should be possible to match these two events (Rename/Create) with (EventInfo).Sys().(*notify.InotifyEvent).Cookie.

[2017-04-13 14:40] imsodin commented on #117
Ok, that's a pity, I hoped there was.
Maybe I can explain the use case and you have some idea how to solve it:
I am implementing filesystem notifications for Syncthing (decentralized syncing), which is cross-plattform (every (?) plattform go builds on). If files are removed first and then created during a rename/move, they need to be re-transferred over the network. So the idea is to delay events

[2017-04-13 15:26] rjeczalik commented on #117
If I understood correctly, you want to implement an optimisation, that if I rename a file locally, your syncthing will detect such rename and instead of transferring the moved file again to the remote, you'll just reply the rename operation on a remote.

We had an idea to implement set of utilities for notify, to ease dealing with translating system events to what actually happened on the filesyst

[2017-04-13 15:40] imsodin commented on #117
Yes it is an optimisation. Detecting a rename would be ideal, but isn't actually needed. And on linux there is only one Rename event produced during renaming, so how would you match them anyway?

In our case something simpler would suffice:
There is a database of indexed blocks for all files. So we just need to announce the new path first, thus the blocks from the old file can be recycled. If we a

[2017-04-13 15:47] rjeczalik commented on #117
@imsodin Just to recap, what you need is a mean to match two rename events on Windows, that they describe the same move, correct?

[2017-04-13 15:50] imsodin commented on #117
Not exactly: I need either one of these two things:
 - A means to match two rename events on all supported platforms.
 - A means to detect all events that correspond to a removed file (either due to deletion or renaming/moving to another path/filename).

[2017-04-13 23:42] ppknap commented on #117
@imsodin you may create a workaround specific only to Windows platform.

When you initialize watcher with system specific events you will get system specific responses. Eg. using:

[code]

will not send you `notify.Create`, `notify.Remove`, `...` events but rather the one specyfic to [windows](https://github.com/rjeczalik/notify/blob/master/event_readdcw.go#L53):

[code]

now, you are able to aggr

[2017-04-13 23:54] ppknap commented on #117
This is also possible on windows but hasn't been implemented in `notify` yet.

We can tie rename file names by using `_FILE_NOTIFY_INFORMATION` and then store it in Event's `Sys`. See: [here](http://stackoverflow.com/questions/22396230/get-old-name-and-new-name-after-folder-rename-with-readdirectorychangesw-c).

[2017-04-14 07:07] imsodin commented on #117
Thanks for your help, You have me convinced that I need to introduce platform-specific code. I was hoping to be able to go the lazy way by using your platform agnostic events.

Is the definition of the actions of readdcw (`<< 12` for both Added and Removed) intentional?

[2017-04-14 07:28] imsodin commented on #117
One more question:
`InMovedTo` is mapped to `Create` in
https://github.com/rjeczalik/notify/blob/master/watcher_inotify.go#L329
and `FILE_ACTION_RENAMED_NEW_NAME` is mapped to `Rename` in
https://github.com/rjeczalik/notify/blob/master/watcher_readdcw.go#L553
Is my assumption incorrect that these two actions are equivalent?

[2017-04-14 10:52] ppknap commented on #117
They are,

We probably need to make them consistent in some future. The reason why this was done in that way, is that we can check if linux `Create` event is move(using `Sys` method and, as @rjeczalik wrote, we were planning to introduce helpers for that). However, we can't(for now) do this on windows.

Yes, it is. Windows file actions are [not bit masks](https://msdn.microsoft.com/en-us/library/w

[2017-04-14 11:02] imsodin commented on #117
Ok, so I can't assume the `Event` type can be bitmasked?
I wanted to define my own `removeEventsMask` for different platforms like this
[code]
and then check on incoming events like
[code]
which apparently is incorrect.
So alternatively I would store all events in a map (`map[notify.Event]struct{}`) and check by key lookup. Is this a/the correct way to do this?

[2017-04-14 11:09] ppknap commented on #117
@imsodin all events can be bitmasked - that's the reason why we have these bit shifts there. You can safely:

[code]

[2017-04-14 11:56] imsodin commented on #117
@ppknap Thanks again for your help, my limited experience shows here...

Now I have a problem with passing native windows events to `Watch`:
[code]
results in

[2017-04-14 11:56] ppknap commented on #117
Just to explain mapping of Windows file actions to notify events:

[code]

I hope this is clear now.

[2017-04-14 11:59] ppknap commented on #117
@imsodin yes, windows has different logic than other watchers, you must register [filters](https://github.com/rjeczalik/notify/blob/master/event_readdcw.go#L32) eg. `notify.FileNotifyChangeFileName`, `notify.FileNotifyChangeDirName` in order to get acctions.

[2017-04-14 15:07] imsodin commented on #117
@ppknap
Now everything is up and running, thanks again for your patience. If you are interested, the code I am working on is https://github.com/syncthing/syncthing/pull/3986.

Would you welcome a PR where I add some of the information, that wasn't obvious to me, to the comments on the windows constants? And maybe a sentence in the main description directing to the event_*.go files for more informa

[2017-04-14 15:27] ppknap commented on #117
This is rather a question for @rjeczalik . Personally, I think it would be a nice doc improvement and, of course, any kind of help on this project is always appreciated.

If you are interested, there is my answer that has all mappings from Windows [filters to actions](https://github.com/rjeczalik/notify/issues/10#issuecomment-66179535). As you see you can remove `ChangeSize` and `ChangeCreation` e

[2017-04-14 16:28] rjeczalik commented on #117
I like the idea 👍

[2017-04-14 17:30] imsodin commented on #117
I also need to detect changes to a file (e.g. writing to a textfile), which is not activated by only ChangeFileName. The rest I chose heuristically: ChangeLastWrite also returns an event for the parent directory, when any child is modified, so I ditched it. ChangeCreation did not have any apparent effect, so I kept it for no good reason. ChangeSize did just what I wanted (however it probably won't

[2017-04-30 14:58] nohupped opened #119 "Event path don't get updated if the parent directory is renamed."
Apologies if I missed a way to get around this, and I am not sure if this is the expected behaviour either, but when there is a watcher created for a parent directory for eg: `/tmp/testdirectory`, and if I moved the parent directory itself as `/tmp/moved`, any events inside /tmp/moved will be shown as `/tmp/directory/`, which is the old path.

Code:

[code]

Output:
Console:
[code]
Daemon output:

[2017-05-10 13:10] ltzMaxwell opened #120 "ld: warning: directory not found for option '-L/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/lib'"
go version :1.8.1 , mac version : 10.12.2
build fail , as :
   ld: warning: directory not found for option '-
 L/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/lib'

[2017-05-10 13:18] rjeczalik commented on #120
@ltzMaxwell Do you have command line tools installed? (`xcode-select --install`). If yes, could you add `-x` flag to your build line and paste full output from it?

[2017-05-10 13:47] ltzMaxwell commented on #120
fixed after update xcode and command line tool. would you explain this ? thx.

[2017-05-10 13:51] ppknap commented on #119
Hey @nohupped , this is a bug in `notify` logic. Since inotify sends only file names, we store full paths in memory. However, when directory is moved, these paths are not updated.

Probably, we need to catch `IN_MOVE_SELF` events and update in-memory paths afterwards.

Note, that moving watched directories is generally not cross-platform - it is not possible to implement this correctly on Windows.

[2017-05-10 15:14] rjeczalik commented on #120
@ltzMaxwell notify uses FSEvents under macOS,  FSEvents requires CGO to link with CoreServices, CGO requires clang and CoreServices requires macOS SDK to be installed. 🎉

[2017-05-10 15:14] #120 closed

[2017-05-19 22:13] imsodin opened #121 "File creation events not picked with solaris specific events"
I pass the following events to `Watch`:
[code]
Then I create or rename a file in a recursively watched directory. The result is, that I only get events for files that were deleted and files that were renamed (source file). For created files and the destination files during renaming there is no event.
When I do the same thing passing the "generic" events `notify.All`, I get all the events as expect

[2017-05-22 16:18] pblaszczyk commented on #121
https://github.com/rjeczalik/notify/blob/master/watcher_trigger.go#L7

On Sat, May 20, 2017 at 12:13 AM Simon Frei <notifications@github.com>
wrote:

[2017-05-22 16:38] imsodin commented on #121
Thanks for the pointer. So if I understand this correctly, when I pass native events I just get plain native events, meaning not create events by design. When I pass the generic events (notify.All) notify does "internal magic" (good enough for me x) ) to provide create events as well.

Can I mix native and generic events to get both `notify.All` and `notify.FileAttrib` events?

[2017-05-22 16:55] pblaszczyk commented on #121
Yes: "notify.All | notify.FileAttrib".

On Mon, May 22, 2017 at 6:38 PM Simon Frei <notifications@github.com> wrote:

[2017-05-22 16:57] imsodin commented on #121
Thanks again -> closed.

[2017-05-22 16:57] #121 closed

[2017-08-26 12:34] imsodin opened #124 "watcher_fsevents: Fails to remove watch when directory does no longer exist"
Scenario:

Watch is set up at a dir, then this dir is removed (by user, so no control on it). Then `Stop` is called on this path, the dir is recreated and a new watch at dir is set up (with a new channel).

What happens:

Creating the watch fails with error "path is already watched". Debug logs (where btw a timestamp would be very useful) show the following error after calling `Stop`:

[code]

The

[2017-08-26 13:18] rjeczalik commented on #124
You could send a PR with the test itself, it can be executed on macos by travis. See https://github.com/rjeczalik/notify/blob/master/watcher_fsevents_test.go.

[2017-08-28 13:27] imsodin commented on #124
@rjeczalik
Both my issues are fixed now: #125 and #127. I hope you don't have a quota on your CI - it took quite a few trial and errors as I couldn't build/test locally. In the process I found four different issues, so it probably makes sense to also make four separate and clean PRs. I will wait with that until you give your feedback on it.

Also @ppknap name is in many comments on watcher_readdcw

[2017-09-08 07:47] andreyvit opened #130 "panic on dropped events (macOS)"
Hey, I've recently Ctrl-Z'ed (i.e. stopped) modd, and after about a day tried to resume it, which immediately got me this panic:

[code]

[2017-10-20 22:00] ahmetb opened #131 "add some keywords to doc.go"
It took me quite a while to discover this library. I was using "inotify" as  search keyword on https://godoc.org/?q=inotify.

Consider adding it to the first paragraph of package-level godoc.

Great work and thanks for this library!

[2017-11-05 11:08] EvanPurkhiser opened #132 "Support for recursive symlink following"
If I add a symlink to a directory it would be awesome if it's tree could be watched as well.

I suspect this might be difficult to support in a cross compatible way without additional work. For the non-recursive linux inotify, it looks like it's just the addition of resolving the symlink in here:

https://github.com/rjeczalik/notify/blob/7e20c15e6693a7d6ad269a94b70ed68bc4a875a7/node.go#L82-L87

(w

[2017-11-05 11:44] rjeczalik commented on #132
This intentionally is not possible - os watchers (inotify, FSEvents) report events using canonical paths.

If a symlink to other directory tree was added then notify would start to report events coming from other tree that was not explicitly watched by a user, which may create confusion. The current approach is to leave decision whether to watch symlinked tree or not to the user.

Unrelated - from

[2017-11-05 11:58] EvanPurkhiser commented on #132
There's no type of configuration for this though correct? The user would have to attach watchers to any symlinks added into the tree.

As far as I could tell, from my brief experiment, it actually reported paths relative to the room watched directory

[2017-11-05 11:59] EvanPurkhiser commented on #132
Didn't mean to close this woops

[2017-11-05 12:11] rjeczalik commented on #132
Unfortunately no, current API was built with minimal configuration in mind, in fact there's no configuration at all. Right now we regret a bit this decision and we were previously planning to introduce (backward-compatible) v2 API with actual configuration.

I'm speaking off the top of my head, so I might be wrong. The relative paths might be true for inotify, but not for FSEvents and ReadDirChang

[2017-11-13 21:06] imsodin opened #133 "Does the inotify watch work on android?"
Is there a reason that the inotify watch is not built on android? Generally the kernel feature should be there, is there any restriction imposed by golang.org/x/sys/unix"?

[2017-11-14 11:26] ppknap commented on #133
Hi @imsodin

We didn't test Android builds. However, the code compiles for this target(`GOOS=android` uses `linux` build tags) so we can expect that inotify watcher works.

Feel free to test it and report any bugs you encounter.

[2017-11-14 21:25] imsodin commented on #133
@ppknap Thanks for the feedback, I didn't realize android isn't a build tag - then we would have tested first. Well @Nutomic tried it and it works :)

[2017-11-14 21:25] #133 closed

[2017-11-14 22:58] ppknap commented on #133
Glad that it works!

BTW: there is `android` build tag but it's not necessary when `linux` and `android` impls are identical.

[2017-11-20 11:15] imsodin commented on #124
I forgot to close this in #129.

[2017-11-20 11:15] #124 closed

[2017-12-09 07:25] calmh opened #135 "Doesn't build on Darwin with Go 1.10beta1"
Cgo rules have changed slightly in the upcoming Go 1.10. With the current beta1:

[code]

The required changes are documented here:

https://go-review.googlesource.com/c/go/+/66332

I'll file a PR fixing it shortly. (Paths in the error are from a fork.)

[2017-12-10 15:45] #135 closed

[2017-12-11 09:53] veqryn opened #137 "What is the limit on the number of directories that may be watched with a recursive watcher?"
I saw two unresolved issues referencing the fact that this package can stop watching directories if there are too many, but without throwing an error or alerting to that fact.
Since that is the case, how many directories can be watched on a linux system?
If it is specific to each server, how do I figure out this number?

Also, is there a way to exclude certain directories from a recursive watch?

[2017-12-12 04:21] ppknap commented on #137
Hey @veqryn !

It depends on the number of "watch descriptors" allowed by your kernel.

Yes, it is. You can tweak the number with `max_user_watches` setting. More info [here](https://askubuntu.com/questions/154255/how-can-i-tell-if-i-am-out-of-inotify-watches).

Unfortunately, notify doesn't have built-in file filters. See #79 for more details.

[2017-12-13 01:54] veqryn commented on #137
Thanks.

Is there a way to tell, within this library or within golang, when you've run out of watch descriptors?

[2017-12-14 00:29] ppknap commented on #137
At this moment there is no clean solution for detecting watch descriptors overflow in *notify*. The simplest one is to just return an error when creating watchers. This was implemented but, due to some resource leakage issues, we decided that it won't be merged.

If you need this behavior, you can fork the project and apply [this](https://github.com/rjeczalik/notify/pull/77/files) path.

[2017-12-14 03:32] veqryn commented on #137
A watch descriptor is needed for each directory on linux, correct?
So when the watcher is created there might only be one directory, and no overflow in watch descriptors.
Later, subdirectories might get created, overflowing the watch descriptors (I assume this is how it works?).
If the overflow could occur after the initial watch is created, then you may actually need an error channel, rather than

[2017-12-14 03:45] veqryn opened #138 "Any way to use a single channel for starting and stopping multiple watches separately?"
So, I am now using notify to watch a series of changing directories.
The directories I want to watch change gradually over time, and sadly I can't just watch all of them because there are probably more than a few million and I would run out of watch descriptors.
From what I understand on how notify works, this means I end up having to create one channel for each set of directories (plus recursive

[2017-12-14 04:56] rjeczalik commented on #138
Sure, create a chan per a directory to watch and fan in all the events to the single channel.

[2017-12-14 04:59] rjeczalik commented on #137
Yes and no. The solution we were also considering is to handle the error gracefully - use polling on fstat, so the events keep coming. Either solution (an error chan or graceful handling) would require an extended API, which is something we did not agree yet on and are no working on currently. Unfortunately.

[2017-12-14 07:24] veqryn commented on #138
Yes, that is what I'm currently doing.
But it doesn't seem very efficient...
Out of all the directories being watched, at any given moment one of them is seeing tons of files being written in it.
Therefore, I need to set a very large capacity on every single channel, rather than just having a single channel with a large capacity.
Then there is all the goroutines required to fan all of the channels

[2017-12-14 07:26] veqryn commented on #137
K, thanks for the insight.  I'll close this now.

[2017-12-14 07:26] #137 closed

[2017-12-14 16:34] rjeczalik commented on #138
The implementation on the library side would be roughly the same, since each watch needs to be able to be stopped separately. So notify would have a channel per directory. The real question is whether the library should provide that feature out of the box.

As you noticed this use-case requires a costly implementation, so my take is to leave this up to the users to implement, instead of making eve

[2017-12-14 22:41] veqryn commented on #138
What about having the library allow you to stop watching based on the directory string, instead of based on a channel?
Or in case people want to have multiple watches on the same directory, but with different channels, how about directory-string + channel?

[2017-12-14 22:58] rjeczalik commented on #138
That perfectly makes sense. Adding to v2 api todo-list.

[2017-12-14 23:00] veqryn commented on #138
Personally, I think it might be the most flexible to have the watch command return a UUID or other unique string/id, which is then used to stop the watch:
[code]

[2017-12-14 23:04] rjeczalik commented on #138
@veqryn I'm a bit skeptic about using uuid, it would mean maintaining yet another watcher mapping, where two mappings already exist - channel to watcher and path to watcher. I'd need to think about it a bit more.

[2017-12-14 23:05] veqryn commented on #138
If the v2 api is a breaking change, then you could switch to only one mapping: the uuid

[2017-12-14 23:07] rjeczalik commented on #138
Ideally we'd want to make it backward-compatibly. Besides path to watcher mapping is going to stay, since the implementation uses tree-based directory lookup.

[2017-12-14 23:07] veqryn commented on #138
k. want me to close this out?

[2017-12-14 23:08] rjeczalik commented on #138
It can stay opened, so we can keep track of this. Thanks! 😄

[2017-12-31 01:08] karalabe opened #139 "panic: runloop has just unexpectedly stopped"
This might be related to the Go 1.10 fix PR merged in recently (https://github.com/rjeczalik/notify/pull/136). I've just pulled in the latest code from this repo and our tests on macos began crashing immediately with Go 1.10beta1:

[code]

[2017-12-31 08:14] rjeczalik commented on #139
Those tests are the ones from linked issues? Sorry for being lazy, but how to run them?

[2017-12-31 11:46] karalabe commented on #139
With that commit reverted, compilation fails due to Go 1.10-s messing with CGO. That being said, it's interesting that the latest code seems to work well for Go 1.9 and before, just breaks on 1.10.

I'll try to make a repro for you, not sure yet what's the simplest package to extract :)

[2018-01-03 11:57] karalabe commented on #139
Apparently fixed by https://github.com/rjeczalik/notify/pull/140. Will reopen if the issue resurfaces.

[2018-01-03 11:57] #139 closed

[2018-01-24 05:31] agnivade opened #142 "[question] - Is it possible to ignore certain paths on a recursive watcher ?"
I would like to watch a certain dir tree. But not some directories under it. Is there a way to achieve this ?

[2018-02-18 05:44] rrborja opened #145 "After updating Go to 1.10"
After updating, it wouldn't compile my project:

[code]

[2018-02-18 07:03] rjeczalik commented on #145
Please ensure to fetch the latest HEAD from master. [This PR](https://github.com/rjeczalik/notify/pull/143) fixes the issue you encountered.

[2018-02-18 07:03] #145 closed

[2018-02-23 19:12] treeder opened #146 "Version tagging releases"
Think you could start tagging releases so dep tools can work properly?

[2018-03-11 03:31] lsegal opened #148 "Recursive events not triggering from root drive on Windows"
If `notify.Watch()` is called on the root of a drive on Windows using recursive syntax ("..."), events don't seem to trigger.

Minimal repro using a slightly modified version of the Recursive example in docs:

[code]

Trying to watch for events on `C:\` doesn't seem to fire when changes are made inside my user dir. Only changes directly in `C:\` trigger. On the other hand, if I use the commented o

[2018-03-12 01:21] lsegal commented on #148
After digging through some internals, I figured it out.

Pro tip: to watch a full drive, the watch path should be in the form `C:...`, not `C:\...`. The `\` breaks everything. This might be something worth documenting (or explicitly handling do people can't make this mistake).

[2018-03-12 07:54] rjeczalik commented on #148
@lsegal Actually it is a bug in this case. However unusual, to watch the whole drive, it should be working. Thanks for debugging this!

[2018-03-12 14:44] ppknap commented on #148
@lsegal Thanks for reporting this. It definitely looks like a bug since there shouldn't be any difference between watching root directory and any other path.

[2018-03-12 19:55] calmh opened #149 "Panic in newWatcher on old FreeBSD"
The following panic happens on FreeBSD 8.3. The trace is from a vendored fork, but applies here as well. I'm not expecting things to work on FreeBSD 8.3 (the "not implemented" is surely because features are missing kernel-side), just to not panic and return an error that can be handled by the library caller instead.

[code]

(panic trace truncated because user report... but still useful enough I t

[2018-03-14 09:44] calmh opened #150 "TestWatcherUnwatch fails on Windows 10 / Go 1.10"
[code]

[2018-03-30 15:18] datNurd commented on #150
@calmh any luck? were you able out what the issue is? I am also facing the same issue in go 1.5

[2018-04-11 13:25] ppknap commented on #150
Hey @calmh! Have you or @datNurd looked at this?

I should have access to a Windows machine during this weekend and will try to find what's wrong.

[2018-04-11 13:32] calmh commented on #150
I'm not debugging this, merely logged it.

[2018-05-03 14:45] c5ms opened #153 "undefined: dispatch in mac"
os : darwin.
go : 1.10.1

`../vendor/github.com/rjeczalik/notify/watcher_fsevents_cgo.go:63: undefined: dispatch
../vendor/github.com/rjeczalik/notify/watcher_fsevents_cgo.go:167: undefined: dispatch`

when i compile my program.
it has a error ;

[2018-05-03 15:19] ppknap commented on #153
Hey @c5ms!

This doesn't look like the code from current `master` branch. Have you updated your deps? If yes, does the `HEAD` hash starts with `d152f3c`(latest commit)?

[2018-05-04 13:49] c5ms commented on #153
sorry , I use dep something wrong .
Thinks .

发自网易邮箱大师

On 05/3/2018 23:19，Pawel Knap<notifications@github.com><mailto:notifications@github.com> wrote：

Hey @c5ms<https://github.com/c5ms>!

This doesn't look like the code from current master branch. Have you updated your deps? If yes, does the HEAD hash starts with d152f3c(latest commit)?

—
You are receiving this because you were mentioned.
Reply

[2018-05-04 13:55] c5ms commented on #153
Maybe,you can release a version such as v0.5.0?

[2018-06-07 02:50] lsegal commented on #148
FYI I was doing some more digging on this and found debug logging, which is great. I've managed to reproduce a potential issue with the following minimal case:

[code]

If I then `go run -tags debug main.go` and create a new folder or file in the root of `D:\` followed by a subdirectory of `D:\`, I see the following debug info with no printed event on the latter dir creation:

[code]

Digging furt

[2018-06-10 17:03] Shashi-S opened #154 "One event is received when moving of file/folder operation is performed while watching recursively"
Hi,
I'm using notify.watch to watch folder recursively on Windows. I was testing few cases with related to both folder and files and I noticed an issue while moving file/folder from one location to another under the directory which being watched. When a file/folder is moved from one directory to another then I see only event being reported i.e., either create or removed.
Here is my observation:
Th

[2018-06-10 17:45] rjeczalik commented on #154
Hey @Shashi-S, could you share your code, how do you setup a watch?

[2018-06-10 18:11] Shashi-S commented on #154
I call the below method (from example code) in the main function
func watchRecursive() {
	c := make(chan notify.EventInfo, 1)
	if err := notify.Watch("C:\\Test\\...", c, notify.All);
         err != nil {
		log.Fatal(err)
	}
	defer notify.Stop(c)
	ei := <-c
	log.Println("Got event:", ei)
}
Should I use OS specific events instead of notfiy.All?

[2018-06-11 17:36] Shashi-S commented on #154
Hi ppknap,
Yes, increasing buffer size of channel works fine.
Thanks for your help.
Thanks to rjeczalik as well.

[2018-06-11 23:51] lsegal commented on #148
Another update: I've also noticed that this same behavioral bug is present on macOS, so it seems like related to the recursive watcher not correctly initializing `r.nd.Child` map when given a root path.

[2018-06-12 21:40] ppknap commented on #148
Thank you @lsegal for this thoughtful investigation! Indeed, this isn't a problem with Windows watcher itself.

[2018-06-24 11:10] #150 closed

[2018-06-24 11:11] #149 closed

[2018-06-28 18:59] rjeczalik commented on #146
Just tagged current master as v0.9.0. From now on we're going to properly tag changes.

There're going to be mostly a bugfix releases. There's still a plan to introduce a number of backward-compatible features and improve error handling, but for now no timeline for them. When we're happy with the API, we're going to release v1.0.0.

[2018-06-28 18:59] #146 closed

[2018-06-28 18:59] rjeczalik commented on #153
Just created a tag, see #146. Closing.

[2018-06-28 18:59] #153 closed

[2018-07-05 12:48] Shashi-S opened #157 "Events in MacOS"
Hi,
I'm not familiar with file system event on MacOS.  I'm using notify recursive watcher to understand the events generated when file/folder related operation is done under the folder being watched.
I noticed that "rename" event is seen when a file is removed (move to trash) and also when the content of the file is modified. I understand its happening because of using notify.All option.

Can you

[2018-08-06 18:05] calmh opened #158 "Doesn't build on Darwin with Go 1.11beta3"
So the old issue from #135 (that was introduced in Go 1.10beta1 and then reverted in a later beta) has resurfaced in Go 1.11beta1 and remains in 1.11beta3. The issue is this:

[code]

I'm sure the old patch, applied again, would solve it this time as well. Of course, it could be reverted again in a newer beta (who knows, it happened before). Nonetheless it would be nice to be able to build stuff w

[2018-08-06 18:34] #158 closed

[2018-08-13 06:57] chaoyuwx opened #161 "Request for GO 1.11beta3 Support"
# github.com/ethereum/go-ethereum/vendor/github.com/rjeczalik/notify
ld: warning: text-based stub file /System/Library/Frameworks//CoreServices.framework/CoreServices.tbd and library file /System/Library/Frameworks//CoreServices.framework/CoreServices are out of sync. Falling back to library file for linking.
ld: warning: text-based stub file /System/Library/Frameworks//CFNetwork.framework/Version

[2018-08-13 11:19] ppknap commented on #161
Hey @chaoyuwx !

Have you tried the current `master` branch? I think this issue was fixed a week ago. See #158.

[2018-08-29 20:14] pkgmain opened #163 "CFAllocatorRef in Go v1.11 and v1.10.4"
When compiling with newer versions of Go (v1.11 and v1.10.4) I get the following errors:
[code]

Compiles fine with Go v1.10.3. I can fix the problem by replacing the `nil` arguments with `C.kCFAllocatorDefault`. I'd put in a PR, but if I'm being honest, I don't know enough about cgo to know why that fixes it. I'm simply following this documentation:

https://developer.apple.com/documentation/core

[2018-08-29 21:03] ppknap commented on #163
Hey @pkgmain !

You may try with the current `master` branch. This issue probably was solved in #162.

[2018-08-30 01:43] pkgmain commented on #163
Okay, thanks. I see it.

Should a release be cut/tagged? Go / Dep will default to the 0.9.0 release:
[code]

[2018-08-30 04:39] rjeczalik commented on #157
Unfortunately there's nothing notify can provide for you to detect that behaviour out of the box. If a delete operation from some UI results in a move operation on the filesystem - notify is going to report a move operation, not the intention behind it. Figuring it out is up to the user. The same applies to e.g. file modification in majority of the IDE - they write to a temporary file then replace

[2018-08-30 04:39] #157 closed

[2018-08-30 04:40] rjeczalik commented on #163
@pkgmain I've just tagged 0.9.1, if you still find some issues please reopen this.

[2018-08-30 04:40] #163 closed

[2018-08-30 20:38] #154 closed

[2018-09-19 03:29] fmauricios opened #164 "Error installing notify"
Hi,

I'm trying to install notify but it throws an error.

[code]

Always it error is present trying to install *quorum blockchain*

I'm running on MacOS Sierra.

Regards,

Mauricio

[2018-09-27 02:02] rjeczalik commented on #164
@fmauricios Do you have xcode command line tools installed? Looks like problems is with your toolchain. If not, could you please rerun build with `-x` flag and paste the output?

[2018-09-28 23:04] passos opened #165 "Failed to install it on macOS Mojave"
install it by following commands:

[code]

if I clone the repo and build it

[code]

[2018-09-29 06:09] rjeczalik commented on #165
Try running `sudo xcode-select -install` and retry building notify.

[2018-10-02 00:51] passos commented on #165
@rjeczalik Thanks for the reply. I tried but it doesn't work.

Finally I found the problem is I installed `llvm` by brew before. And it can't work with latest code. I remove it by `brew uninstall llvm`. then the `go build` use system version `llvm` and it works.

[2018-10-02 00:51] #165 closed

[2018-10-23 04:58] rjeczalik commented on #164
@EranHr In CGO you put C code inside a comment. The problem here is missing or lacking xcode/SDK installation.

[2018-11-10 18:40] madding commented on #119
Hi @ppknap! I try to do this task, but it impossible. I add `IN_MOVE_SELF` to `InotifyAddWatch` and I caught it, but I can't get new name of folder.
1) `IN_MOVE_SELF` don't trigger `IN_MOVE_TO`.
2) We have only file description and when I try run `os.Readlink` for `/proc/self/fd/XXX` it returned only `anon_inode:inotify`

No way to fix it. Good solution here it drop PANIC, but it breaks current wo

[2018-11-26 15:46] FabianKramm opened #167 "readdcw: watching hangs forever if GetQueuedCompletionStatus returns zero transferred bytes"
Hello! I'm one of the maintainers of [devspace](https://github.com/covexo/devspace), where we use notify as a file watcher in our synchronization functionality. Under some unclear circumstances the notify library seems to stop watching without any errors on windows in heavy load scenarios (several hundred file changes at once).

I investigated the problem and the issue seems to be in the function

[2018-11-26 18:32] #167 closed

[2019-01-03 19:44] mirtchovski opened #169 "Failure to build with go1.12beta1"
Similar to the other issues for go1.10 and go1.11, go 1.12 breaks the build:

[code]

it appears that go1.11 is still defined, as that file is compiled in, however go1.12 build tag is now available too, if needed. Unfortunately I don't know enough of the core apple lib to help with fixing the issue.

[code]

[2019-01-03 20:00] imsodin commented on #169
minio is using an old commit:
[code]
This is already fixed, notify builds fine with go1.12

[2019-01-03 20:02] mirtchovski commented on #169
Thanks, this is good to know.

[2019-01-03 20:17] mirtchovski commented on #169
Hmm. I'm still getting the same failure at tip, macOS 10.14.2, xcode 10.0 (10A255)

[code]

[2019-01-07 20:41] wavvs opened #170 "Add option to skip first symlink or all symlinks"
### Motivation
On my project I need to track filesystem changes inside a container from the outside. In Linux this can be done by tracking `/proc/<pid>/root` path. Since we are in `/proc` filesystem, we have "special" symlinks.
[code]
It points to `/` root, which is not host's root. Notify follows this trap and watches host's root instead of `/proc/<pid>/root/...` path.

My suggestions:
1. Option

[2019-01-12 15:27] mauricioabreu opened #171 "Error on successive removal of directories being watched"
First of all, thanks for this library.

I have a problem here but I don't know how to fix it. I am watching a directory recursively, for example: `/home/foo/...`. There is a process (I don't control) that removes the directories being watched under the `foo`. I noticed the following behaviours:
- When I do it once, it recovers and continues to watch after folders and files of this folder are reins

[2019-01-12 17:11] rjeczalik commented on #171
You may run out of fd, that's why this may happen. You can build your code with `debug` tag (`go build -tag debug `), and see notify's output for any hint.

[2019-01-12 17:37] mauricioabreu commented on #171
@rjeczalik thank you for showing me how to see the debugging output.

I ran my program with `debug enabled` and from the logs I can just read `notify.Create, notify.InCloseWrite, notify.InMovedTo`

I literally ran `rm -rf <subdirectories>` and the same thing happened.

Should I see an event `notify.InDelete` for these folders?

[2019-01-12 17:41] rjeczalik commented on #171
@mauricioabreu It's hard to say without seeing the full output, there are a lot of events logged by notify, which are just ignored if not watched y a user.

Ideally a repro program would be helpful, or a test event more - if you think there's wrong behaviour somewhere please add a test for it, it'd be really helpful (see [watcher_inotify_test.go](https://github.com/rjeczalik/notify/blob/master/wat

[2019-01-12 17:50] mauricioabreu commented on #171
@rjeczalik of course. Sorry for not providing examples with code. I will do it, I did not mean to be rude or lazy.

I asked that question because my notify initalization does not cover `Create unix.IN_CREATE` and it was listed in the log output. Code:
[code]

One last thing I noticed is the `Bugs` section in the documentation (https://godoc.org/github.com/rjeczalik/notify#pkg-note-bug)

Not sure i

[2019-01-12 23:37] mauricioabreu commented on #171
I created a repository demonstrating the problem: https://github.com/mauricioabreu/notify-issue-171

Here I paste the output of the program:

[code]

As we can see, there is an error `receiver too slow` and the `watcher` was not receiving the `Create` events generated by the `touch` command.

[2019-01-13 08:30] rjeczalik commented on #171
Usually increasing buffer size for the receiving buffer fixes the issue. Other question is do you really need to process that many events at that pace.

[2019-01-13 11:44] mauricioabreu commented on #171
Thanks for the answer!

What do you mean by `increasing the buffer size for the receiving buffer`. Are you talking about the buffer we pass to `notify.Watch`? I am using `1` and `10240` and they have the same effect.

About the number of events, this problem also happens if you do it manually (slow or fast). So I guess it is not a performance issue, right?

Important information: my example runs o

[2019-01-13 12:01] rjeczalik commented on #171
This is interesting, are you able to reproduce this issue from a docker container?

Does it drop events if you use [QueuedWatch](https://gist.github.com/rjeczalik/7faa93691e6da35b1f84) instead of notify.Watch?

[2019-01-13 12:39] mauricioabreu commented on #171
Yes, here is the project/container I created to demonstrate this:  https://github.com/mauricioabreu/notify-issue-171

The `README` file has instructions to build/execute the example.

I used `QueuedWatch` too and the problem is the same. `too slow receiver` does not always happen, but the original problem (successive removal/create of directories being watched) happens regardless of this error.

[2019-01-13 22:16] mauricioabreu commented on #171
Reading the debug output, we can see that the directories being created/removed are being notified, but not their files (or even their subdirectories). With this information, I am debugging and reading the source code on how `notify``rewatches` directories recursively. Also it is surprisingly weird that it works for the first removal/creation of already watched directories.

[2019-01-15 21:04] AudriusButkevicius opened #172 "Recursive watches do not work on OpenBSD"
On OpenBSD:
[code]

On Windows:
[code]

Yet removals work fine (even tho out of order and not sure perhaps the walk and unlink is done by rm?)
[code]

On Windows:
[code]

ktrace does seem to report recursive events however:
<details><summary>ktrace output</summary>
<p>

[code]

</p>
</details>

[2019-01-15 21:25] AudriusButkevicius commented on #172
Actually, recursive watches do work, but it seems it takes some time for the "recursiveness" part to kick in?
[code]

[2019-01-15 22:22] rjeczalik commented on #172
@AudriusButkevicius Thanks for the detailed report! I think this happens because `notify` sets a watcher after it receives `a` create event, and only then it starts to listen for create events in that directory. Because b, d, c is created just after a, the events may arrive before the watcher is set and thus we miss them. Afaik there's no way to fix the race, other than doing rescans.

Is this a c

[2019-01-15 23:31] AudriusButkevicius commented on #172
Random theory.

Event delivery from the kernel blocks the kernel from delivering further events.

That is, the thread that receives the event from the kernel should register a watch for subfolder upon receiving the event and before returning (control to the kernel).

Is subfolder registration happening in a separate go routine outside of the kqueue loop which would support the theroy?

[2019-01-16 08:02] rjeczalik commented on #172
@AudriusButkevicius Everything happens async, outside kqueue loop with https://github.com/rjeczalik/notify/blob/master/watcher_kqueue.go#L133. At least I'm not aware of anything blocking as you described.

[2019-01-16 20:35] AudriusButkevicius commented on #172
Yeah after having read the kqueue manual, it seems impossible to subscribe recursively, however, I think the following might be a sensible approach? If I am watching directory X, and subdirectory Y gets created, I should setup a watch for Y, walk Y and dispatch a created event for everything inside Y (potentially deduplicating as events from kqueue arrive later (or let it have duplicates, who care

[2019-01-17 10:23] rjeczalik commented on #172
@AudriusButkevicius This would be viable solution, we already maintain an in-memory tree of watches (directories), so maybe it would be even possible to not send duplicates.

[2019-01-21 19:41] mauricioabreu commented on #171
I am wondering if it is related to the way `inotify` works, using `inodes`.

[2019-01-23 03:15] mauricioabreu commented on #69
I guess this is exactly the problem I am having on #171 It looks like the solution here is the one you mentioned.

[2019-02-08 04:51] rjeczalik commented on #169
From what I learned currently tip should be fixed, so let me close this issue for now.

[2019-02-08 04:51] #169 closed

[2019-02-10 07:24] matarc opened #174 "Missing file events"
Hello,
First of all thanks for all the work on this library, it looks very promising!

I tried making a test program that creates many files in nested directories while a watch was set on the top level directory. My goal here was to see if notify would capture every single events.

From the results, it seems that a few events are getting dropped depending on the OS.
This piece of code can be run u

[2019-02-13 17:07] matarc commented on #174
I did some more digging and found the problem in macOS.
Basically the FSEvents API is sending a kFSEventStreamEventFlagMustScanSubDirs and it's being ignored in watcher_fsevents.go
[code]

I think that at the very least we should send that Event to the User if he subscribed to it so that he knows he needs to rescan the folder in question (and its sub folders), looking at the code it's not very har

[2019-03-10 07:53] x1unix opened #177 "Cannot build project for macOS"
Hello.

I'm trying to build a project on linux for target `darwin amd64` and getting this error:

[code]

Are cross-builds supported?

[2019-03-10 07:55] rjeczalik commented on #177
Hey @x1unix! It's not possible to cross-compile for darwin from linux, since notify uses CGO on darwin. You'd need to build it on macOS instead.

[2019-03-10 07:55] #177 closed

[2019-03-10 07:59] x1unix commented on #177
@rjeczalik thank you for response

[2019-05-30 14:40] infectormp opened #179 "Add fanotify support"
Linux Kernel 5.1 released and now it can handle all FS events via fanotify https://github.com/amir73il/fsnotify-utils/wiki/Super-block-root-watch.

[2019-06-19 17:27] jpo-joyent opened #180 "Build fails on macOS"
On macOS 10.14.4, with Go version 1.12.6, with Go module support enabled:
[code]

With a clean checkout of the latest version of this repo:
[code]

Building fails with the following:
[code]

[2019-06-19 18:18] rjeczalik commented on #180
I think this is CGo bug and it eventually will need to be reported upstream, but let me check it out.

[2019-06-19 18:20] rjeczalik commented on #180
@jpo-joyent What’s your Xcode version?

[2019-06-19 19:25] jpo-joyent commented on #180
I just updated macOS (and with it Xcode) to see if the problem would go away (it didn't). They're now at:
[code]
(macOS 10.14.5)

[2019-06-19 19:37] jpo-joyent commented on #180
I figured it out. The problem has nothing to do with you, or Go. Sorry for reporting here when you're just a symptom. The underlying problem is that I had `util-linux` installed via brew, which also (used to) provide a `uuid/uuid.h` header, which conflicted with the one provided by CoreServices.

I could reproduce the same build error by just trying:
[code]

As of https://github.com/Homebrew/homeb

[2019-06-19 19:37] #180 closed

[2019-06-20 07:15] rjeczalik commented on #180
@jpo-joyent No problem, glad you figured it out 🚀

[2019-06-29 03:47] #142 closed

[2019-07-15 20:34] prestonvanloon opened #181 "Cannot cross compile"
From master on linux amd64, trying to build for darwin.

[code]

[2019-07-16 06:26] rjeczalik commented on #181
Darwin build used CGo, which does not support cross-compilation.

[2019-07-16 06:26] #181 closed

[2019-09-04 08:18] JK-97 opened #183 "rm dir actions triggered two remove event"

[2019-09-04 08:44] rjeczalik commented on #183
@JK-97 What OS is that? Can you build your application with debug tag and run it again?

[2019-09-04 10:30] JK-97 commented on #183
my os is ubuntn 16.04
is that resulting in i use  “rm -r xxx”？ because it is recursive？

[2019-09-04 13:14] rjeczalik commented on #183
@JK-97 Yes and no, if you rm -rf then you're going to get remove event to each deleted dir or file, but you shouldn't receive duplicated events on the same channel if you registered the channel only once.

The debug output I mentioned above could shed some light what's happening.

[2019-11-13 18:24] dahovey commented on #96
I ran into this issue using [skaffold](https://github.com/GoogleContainerTools/skaffold).
Issue [here](https://github.com/GoogleContainerTools/skaffold/issues/3109)

[2020-02-18 21:39] mauricioabreu opened #186 "Is there a way to "unwatch" a removed directory?"
I am facing a problem where a directory is removed.

Example:

[code]

A path inside *foo* is removed once in a while (I can't control it). How can I unwatch that removed directory? I tried to rewatch it using the *Watch* function but it not work.

[2020-05-13 19:41] vext01 opened #187 "Test suite fails on OpenBSD"
On OpenBSD, I non-deterministically get this failure:
[code]

Any ideas?

[2020-05-13 20:26] vext01 commented on #187
I also occasionally see:
[code]

[2020-08-29 11:08] probonopd opened #189 "Cannot build my code on FreeBSD"
Getting

[code]

[The code I am using](https://github.com/probonopd/go-appimage/blob/master/src/appimaged/inotify.go) compiles and seems to work on Linux.
Am I doing it wrong, is there a more cross-OS portable way of doing things?

[2020-08-29 13:38] rjeczalik commented on #189
What Linux distro do you use?

On Sat 29. Aug 2020 at 13:08, probonopd <notifications@github.com> wrote:

[2020-08-29 13:42] imsodin commented on #189
Those are inotify specific events, and BSDs have kqueue not inotify. For cross-compatibility you need to use the common events (https://github.com/rjeczalik/notify/blob/master/event.go#L22) or define platform specific events behind build flags.

[2020-08-29 13:48] probonopd commented on #189
Thank you very much for the clarification @lmsodin. Will need to rewrite.

[2020-08-29 13:48] #189 closed

[2020-10-04 23:56] vivek-bansal-VB opened #190 "Missing events: Not getting any event for the recreated directory"
I have set a watch on directory /home/mydir and created a subdirectory (tmp) under it. I dropped some files in directory /home/mydir/tmp and I got the file create events. Then I deleted the directory (/home/mydir/tmp) and recreated it. Again I dropped some files in the directory (/home/mydir/tmp), but this time I am not getting any events in this directory. Seems a probable bug. Any help is much a

[2020-10-05 04:54] rjeczalik commented on #190
Could you please share some reproducer? Go snippet to show how you set watches and some example bash commands how you create temp dir and do all these operations. It would be greatly helpful.

[2020-10-05 06:13] vivek-bansal-VB commented on #190
`func main() {
	WatchFS("/home/mydir")
}

func WatchFS(rootDir string64) {
	events := make(chan notify.EventInfo, 100)
	setupWatch(rootDir, events)
	handleFSEventsInfinite(events, rootDir)
	notify.Stop(fsEvents)
}

func setupWatch(path string, events chan notify.EventInfo) error {
	if err := notify.Watch(path, events, notify.All, notify.Create, notify.InCreate); err != nil {
		fmt.Errorf("Failed t

[2020-10-05 06:52] vivek-bansal-VB commented on #190
Below is the shell script which I used to run the commands:
`sudo mkdir /home/mydir/tmp
cd /home/mydir/tmp
touch a.txt
cd ..
sudo rm -rf tmp
sudo mkdir /home/mydir/tmp
touch b.txt`

[2020-10-05 06:54] vivek-bansal-VB commented on #190
Output of the above script:
event is a directory create event: "/home/mydir/tmp"
event is a directory create event: "/home/mydir/tmp"
event is a directory create event: "/home/mydir/tmp"
event is a file create event on file: "/home/mydir/tmp/a.txt"
event is a file create event on file: "/home/mydir/tmp/a.txt"
Got non-create event "notify.Remove"
Got non-create event "notify.Remove"
Got non-create

[2020-10-05 06:55] vivek-bansal-VB commented on #190
As you can see, there is no event generated for file /home/mydir/tmp/b.txt

[2020-10-09 00:48] vivek-bansal-VB commented on #186
Did you solve this issue? I am facing the same problem.

[2020-10-29 18:49] imsodin opened #191 "Panic in windows on loopevent"
From  https://github.com/syncthing/syncthing/issues/7063:

Unfortunately it sounds like it isn't clear when/how it happens. However maybe the trace already points at what might be the culprit. I'll report back if any more details come up.

[2020-10-30 20:40] vladyslav2 commented on #79
and still, I believe it will be nice feature to have!

[2020-10-31 20:17] rjeczalik commented on #191
@ppknap ^

[2020-11-01 00:17] ppknap commented on #191
@imsodin thanks for submitting this issue! I don't have access to that particular Windows version and it seems it's not easily reproducible anyway. However, it could be the case that we receive incomplete status when the machine is being woken up.

I created a #192 that does two things:
- should prevent `notify` from panicking when this issue occurs again,
- should give us more info on what's happ

[2020-11-01 02:42] #191 closed

[2020-11-01 12:12] imsodin commented on #191
Thanks a lot for the speedy resolution. I guessed that it will be hard to reproduce/get to the bottom, but hoped you'd see what might cause it anyway and/or a general mitigation - and you did, awesome :)

[2020-11-03 21:56] vivek-bansal-VB commented on #190
I checked this package: https://github.com/fsnotify/fsnotify and it seems to be working fine even when the directory with the same name is recreated.

[2020-11-04 06:33] rjeczalik commented on #190
@vivek-bansal-VB Thanks for the repro! Since I don't have access to macOS nowadays, someone else would need to troubleshoot it.

Out of curiosity, does it reproduce when you build with kqueue instead of FSEvents? `go build -tags kqueue ...`

[2020-11-05 07:03] vivek-bansal-VB commented on #186
Had you been able to resolve this issue?

[2020-11-05 08:00] vivek-bansal-VB commented on #190
@rjeczalik Yes I tried with -tags kqueue and the same issue is there as well.

[2020-11-05 17:22] mauricioabreu commented on #186
@vivek-bansal-VB sorry for the delay.
No, I did not solve the problem.

[2020-11-05 22:24] vivek-bansal-VB commented on #186
@mauricioabreu Thanks for the reply!

[2020-11-12 09:05] huahuayu opened #196 "build error from mac osx 10.15 fatal error: 'CoreServices/CoreServices.h' file not found"
hi, when I build a project which depends on notify in mac osx 10.15 , it gets below error

the detail step is described here: would you please to check: https://github.com/ethereum/go-ethereum/issues/21835

error info

[code]

[2020-11-12 09:16] huahuayu commented on #196
but I see the header is here

[code]

[2020-11-12 22:43] vivek-bansal-VB commented on #190
Other solution for this problem can be: If there would be a function: RemoveWatch(path) exposed by the library. So before deleting the directory I will remove the watch from that directory, and later on when the same directory will be created again, AddWatch(path) method will work on that correctly. Currently AddWatch(path) method is not working correctly since I didn't remove the watch from the d

[2020-11-13 02:06] huahuayu commented on #196
below `ln` is work!

[code]

[2020-11-13 02:34] huahuayu commented on #196
but after this been fixed, another issue occurs :(

[code]

[2020-11-13 06:05] rjeczalik commented on #196
Hey @huahuayu, you need to ensure your xcode installation is sound, as well your system packages. Please see those issues for a reference:

https://github.com/rjeczalik/notify/issues/180
https://github.com/rjeczalik/notify/issues/165

[2020-11-13 09:18] huahuayu commented on #196
I have read the issue you linked, no use.

I have latest xcode from appstore,  I installed it three days ago, and today it's has 12.2 updates, I upgrade as well.

Now my xcode version is : 12.2

I am trying download 12.3 beta.xip ...

[2020-11-14 02:32] huahuayu commented on #196
xcode 12.3 beta is installed, no use

[2020-11-14 14:11] rjeczalik commented on #196
@huahuayu There are some others topic on this very issue:

https://trac.macports.org/ticket/46628

In other words it is not an issue with notify, it is an issue with devel packages on the system. Something is apparently missing, notifyhas not way of fixing that.

[2020-11-16 09:49] huahuayu commented on #196
I upgrade to macos 11, and it removes the `ln` I built in `/System/Library/Frameworks/CoreServices.framework`, the issue is still there

[code]

[2020-12-01 13:07] imsodin opened #197 "Zero action causing "panic: notify: cannot decode internal mask""
The panic "notify: cannot decode internal mask" re-occurred since deploying notify with the additional info in the panic message (https://github.com/rjeczalik/notify/pull/194). The action code is `0`. The full trace can be found here: https://crash.syncthing.net/report/a269c4d92ca4513fc34c79277ea3eaeb42ab7ca9a561899639895ef404570e48

Unless the cause of this is know and fixable (@ppknap ?) it's pr

[2020-12-02 00:55] ppknap commented on #197
hey @imsodin ! Indeed, it's likely that we are hitting "leftovers" from the buffer now. We can try skipping the panic(or rather printing the msg in dbg mode and then returning). However, I'm not sure what is the Win completion port status when this happens, we might run into infinite loops if CPs are not able to recover.

I will send a PR with the patch but will also need someone to stress test th

[2020-12-02 09:22] imsodin commented on #197
So there's a possibility that instead of panicking, it will just silently go into a infinite busy-loop generating zero events instead, right?

The problem is the stress testing done here is releasing it to all of Syncthing users (a lot) and waiting for anonymous crash reports. So if infinite loops are a concern, I'd propose (temporarily) adding some counter/timer that still causes a panic if too m

[2020-12-15 14:59] stanvarlamov commented on #190
Same exact issue on Linux/Ubuntu 18.04.5 LTS. A go routine runs cycles that create two subfolders in the watched dir via `MkdirAll` and write a file into the lower one: `/watched-dir/123/456/test.abc` then `rm -r /watched-dir/123`; pauses for 3 sec after writes and deletes. The first and second cycles show all objects' events displayed in the watcher properly. From the 3rd cycle on, only events fo

[2020-12-15 15:12] imsodin commented on #197
This has been fixed by https://github.com/rjeczalik/notify/pull/198 - thanks!

[2020-12-15 15:12] #197 closed

[2021-01-27 12:24] FabianKramm opened #200 "NonrecursiveTree does not watch recreated folders"
Hey there! I think I found a rather severe issue on operating systems that use the NonrecurseTree watcher like linux for recursive watches. The problem is that after you create and delete a folder several times, no subsequent events for that folder will be logged anymore.

I think that the underlying problem is that the non-recursive tree implementation only adds directories to watch and never del

[2021-02-09 21:22] imsodin commented on #190
Might also be fixed by #201 - could you test if it actually is please?  @vivek-bansal-VB

[2021-04-01 16:02] saumitravistaprint opened #202 "Recursive watcher for windows shared drive does not report events in subdirectories"
My code is a toy program for the recursive watcher.

[code]

The directory is a shared network folder e.g. "//COMPUTER/test_share/...", and is accessible by the program. I get events if they're made in the directory "test_share", but if there are any events in the subdirectories, I get no notifications.

[2021-04-01 16:10] #202 closed

[2021-04-01 16:11] saumitravistaprint commented on #202
Apparently watching a directory lower than the root works, the root share doesn't.

[2021-05-18 02:10] gco opened #203 "FILE_TRUNC does not exist on Solaris"
This does not compile on Solaris due to C.FILE_TRUNC missing.

`.../go/pkg/mod/github.com/syncthing/notify@v0.0.0-20210308121556-f45149b04939/watcher_fen_cgo.go:30:25: could not determine kind of name for C.FILE_TRUNC`

[2021-05-24 17:01] rabingaire opened #204 "Can't cross compile for darwin/arm64 from darwin/amd64"
Hello,

When I try to cross-compile from intel based mac to ARM-based mac it throws an error

[code]

[2021-05-24 17:04] #204 closed

[2021-05-24 17:04] rabingaire commented on #204
Sorry for the issue, I managed to get this working by adding `CGO_ENABLED=1`

[2021-06-12 13:22] #200 closed

[2021-07-10 22:53] egnor opened #207 "Still "under active development"?"
The README for this project says it is "under active development", and positions it as "on steroids" (presumably as opposed to the more widely used `fsnotify` package). Is it still under active development?

[2021-08-14 16:27] cameronelliott commented on #96
Like @dahovey I sure spent a lot of time trying to understand why a project dependent upon this package did not work at all. https://github.com/rjeczalik/notify/issues/96#issuecomment-553536315
It was because, using shell, I was in folder ~/documents/x, and not in ~/Documents/x for the cwd.

I filed an issue to help users there if they have the same issue: https://github.com/cortesi/modd/issues/10

[2021-09-20 15:52] deltamualpha opened #210 "SIGSEGV when built with 1.17 on macOS"
Discovered here: https://github.com/mitranim/gow/issues/18.

Appears related to https://github.com/golang/go/issues/45702.

Looks like notify has a very old version of x/sys: `golang.org/x/sys v0.0.0-20180926160741-c2ed4eda69e7`.

[2021-09-20 17:56] #210 closed

[2021-09-20 17:56] deltamualpha commented on #210
resolved in gow, not here.

[2021-09-29 12:26] ior308 commented on #186
Dear I'm looking for the same feature. Can I unwatch one of many paths I put with notify.watch ?

Regards

[2022-07-20 06:10] wdscxsj commented on #207
The latest release is v0.9.2 from 2018, almost 4 years ago. Maybe tag a new version?

[2022-10-20 09:52] shumintao opened #211 "Only listen for folder additions or deletions, but not file additions or deletions ?"
Only listen for folder additions or deletions, but not file additions or deletions ?

![30121666259493_ pic](https://user-images.githubusercontent.com/26895243/196916939-15a3e449-4287-4a68-a9bb-07db22edf434.jpg)

[code]

[2022-11-11 07:08] yantianlei opened #212 "C.FSEventStreamScheduleWithRunLoop(ref, runloop, C.kCFRunLoopDefaultMode) MacOS 13 future remove"
cgo-gcc-prolog:217:2: warning: 'FSEventStreamScheduleWithRunLoop' is deprecated: first deprecated in macOS 13.0 - Use FSEventStreamSetDispatchQueue instead. [-Wdeprecated-declarations]

[code]

[code]

Sadly, I tried to modify it and it didn't work